@import '../../../../core/core';



.column-builder-frame{

    background-color: #eee;
    

}
p{

    margin: 2em;
    text-align: center;

}



#column-definition-table{
    display: flex;
    flex-direction: horizontal;

}

#b_save_column{
    border: 2px solid #ddd;
    border-radius: 20px;
    width: 80px;
    height: 40px;
    color: #999;
}

#b_save_column:hover{
    border: 2px solid $primary-color-light;
    color: $primary-color;
}

