<div class="container" style="padding: 20px 0 20px 0">
  <p><a class="link" routerLink="/backup"><< Go Back</a></p>
  <form #form="ngForm" action="#" (ngSubmit)="onSubmit()" ngNativeValidate>
    <div class="form-group">
      <label for="authUrl">Authentication URL</label>
      <input type="text" class="form-control" name="authUrl" #authUrl="ngModel" [(ngModel)]="destination.authUrl" required>
      <show-errors [control]="authUrl"></show-errors>
      <small id="authUrl" class="form-text text-muted">OpenStack API Keystone URL</small>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="destination.username" required>
      <show-errors [control]="username"></show-errors>
      <small id="username" class="form-text text-muted">Openstack Service User name</small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="destination.password" required>
      <show-errors [control]="password"></show-errors>
      <small id="password" class="form-text text-muted">Openstack Service User password</small>
    </div>
    <div class="form-group">
      <label for="domain">Domain</label>
      <input type="domain" class="form-control" name="domain" #domain="ngModel" [(ngModel)]="destination.domain" required>
      <show-errors [control]="domain"></show-errors>
      <small id="domain" class="form-text text-muted">Openstack Project domain</small>
    </div>
    <div class="form-group">
      <label for="projectName">Project</label>
      <input type="projectName" class="form-control" name="projectName" #projectName="ngModel" [(ngModel)]="destination.projectName" required>
      <show-errors [control]="projectName"></show-errors>
      <small id="projectName" class="form-text text-muted">Openstack Project name</small>
    </div>
    <div class="form-group">
      <label for="containerName">Container Name</label>
      <input type="containerName" class="form-control" name="containerName" #containerName="ngModel" [(ngModel)]="destination.containerName" required>
      <show-errors [control]="containerName"></show-errors>
      <small id="containerName" class="form-text text-muted">OpenStack Swift Container name</small>
    </div>
    <button *ngIf="update" type="button" class="btn btn-danger" (click)="delete()">Delete</button>
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">{{submitLabel}}</button>
  </form>
</div>
