<div class="section-content">
  <form #form="ngForm" action="#" (ngSubmit)="onSubmit()" id="planform" ngNativeValidate>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name" #name="ngModel" [(ngModel)]="plan.name" required>
      <show-errors [control]="name"></show-errors>
    </div>
    <div class="form-group">
      <span>
        <label for="name">Paused</label>
        <input type="checkbox" class="simple-check" id="paused" name="paused" #paused="ngModel" [(ngModel)]="plan.paused">
      </span>
    </div>
    <div class="form-group">
      <span>
        <label for="name">Compression</label>
        <input type="checkbox" class="simple-check" id="compression" name="compression" #compression="ngModel"
          [(ngModel)]="plan.compression">
      </span>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <span>
            <label for="frequency">Frequency</label> 
            <span id="crontooltip" title={{get_cron_info_tooltip()}}><i class="far fa-question-circle"></i></span>
          </span>
          <input type="text" class="form-control" id="frequency" name="frequency" #frequency="ngModel" [(ngModel)]="plan.frequency"
            required>
          <show-errors [control]="frequency"></show-errors>
          <small id="frequency" class="form-text text-muted">A cron string describes execution frequency.
          </small>
          <!--<small id="frequency" class="form-text text-muted">For example
             <pre style="display: inline">0 0 0/5 * * *
            for every 5 hours</pre> 
          </small>-->
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="timezones">Timezone</label>
          <select class="form-control" id="timezones" name="timezones" #timezone="ngModel" [(ngModel)]="plan.timezone" required>
            <option *ngFor="let i of timezoneStringList" [ngValue]="i">
              {{i}}
            </option>
          </select>
          <small id="timezones" class="form-text text-muted">Select the appropriate timezone.</small>
        </div>
      </div>
    </div>
   
    <div class="form-group">
      <label for="items">Items</label>
      <select class="form-control" id="items" name="items" #items="ngModel" [(ngModel)]="plan.items" multiple size="6"
        required>
        <option *ngFor="let i of itemList" [ngValue]="i.id">
          {{i.name}}
        </option>
      </select>
      <show-errors [control]="items"></show-errors>
      <small id="items" class="form-text text-muted">Select the items, which should be backed up.</small>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="retentionPeriod">Retention Value</label>
          <input type="number" class="form-control" name="retentionPeriod" #retentionPeriod="ngModel" [(ngModel)]="plan.retentionPeriod"
            required>
          <show-errors [control]="retentionPeriod"></show-errors>
          <small id="retentionPeriod" class="form-text text-muted">Select how many of the created backups should be
            retained.</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="retentionStyle">Retention Style</label>
          <select class="form-control" id="retentionStyle" name="retentionStyle" #retentionStyle="ngModel" [(ngModel)]="plan.retentionStyle"
            required> 
            <!--<option value="ALL">ALL</option>
            <option value="DAYS">DAYS</option>
            <option value="HOURS">HOURS</option>-->
            <option value="FILES">FILES</option>
          </select>
          <show-errors [control]="retentionStyle"></show-errors>
        </div>
      </div>
    
      <div class="col-md-12">
      </div>
    </div>
    <div class="form-group">
      <label for="fileDestination">File Destination</label>
      <select class="form-control" *ngIf="displayFiledestinationSelect" value="Europe/Berlin"  id="fileDestination" name="fileDestination" #fileDestination="ngModel" [(ngModel)]="plan.fileDestination" required> <!--required -->
        <option *ngFor="let d of destinationList" [ngValue]="d" > <!-- [selected]="true" [value]="---"  [value]="filedestinationInitialVal"     formControlName="fdest"-->
          {{d.name}}
        </option>
      </select>
      <!--<show-errors [control]="fileDestination"></show-errors>-->
      <small id="fileDestination" class="form-text text-muted">Select the file destination where the backups are
        stored.</small>
    </div>
    <button type="button" *ngIf="update" class="btn btn-danger" id="delPlanButton" (click)="delete(content)">Delete</button>
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Submit</button>
  </form>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete Entity</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&nbsp;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Attention </strong><span><i style="color: red;" class="fas fa-exclamation-triangle"></i></span></p>
      <p><strong>Are you sure you want to delete this Backup Plan? </strong> </p>
      <p>Backups stored with this plan can not be restored!</p>
      <p>All information associated to this backup plan will be permanently deleted.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
      <button type="button" class="btn btn-danger" (click)="modal.close('Ok click')">Ok</button>
    </div>
  </ng-template>
</div>