<div class="container" style="padding: 20px 0 20px 0">
  <p><a class="link" routerLink="/backup"><< Go Back</a></p>
  <form #form="ngForm" action="#" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="frequency">Frequency</label>
      <input type="text" class="form-control" name="frequency" #frequency="ngModel" [(ngModel)]="plan.frequency">
      <small id="frequency" class="form-text text-muted">A cron string describes how often the backup is executed.
      </small>
      <small id="frequency" class="form-text text-muted">For example
        <pre style="display: inline">* * */5 * * *</pre>
        for every 5 hours
      </small>
      <div [hidden]="frequency.valid || frequency.pristine" class="alert alert-danger">
        Frequency definition is required
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="retentionPeriod">Retention Period</label>
          <input type="number" class="form-control" name="retentionPeriod" #retentionPeriod="ngModel"
                 [(ngModel)]="plan.retentionPeriod">
          <div [hidden]="retentionPeriod.valid || retentionPeriod.pristine" class="alert alert-danger">
            Retention period is required
          </div>
          <small id="retentionPeriod" class="form-text text-muted">Select how many of the created backups should be retained.</small>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="retentionStyle">Retention Style</label>
          <select class="form-control" id="retentionStyle" name="retentionStyle" #retentionStyle="ngModel"
                  [(ngModel)]="plan.retentionStyle">
            <option value="ALL">ALL</option>
            <option value="DAYS">DAYS</option>
            <option value="HOURS">HOURS</option>
            <option value="FILES">FILES</option>
          </select>
        </div>
      </div>
      <div class="col-md-12">
      </div>
    </div>
    <div class="form-group">
      <label for="fileDestination">File Destination</label>
      <select class="form-control" id="fileDestination" name="fileDestination" [(ngModel)]="plan.destinationId">
        <option *ngFor="let d of destinations" [ngValue]="d.id">
          {{d.name}}
        </option>
      </select>
      <small id="fileDestination" class="form-text text-muted">Select the file destination where the backups are stored.</small>
      <div [hidden]="retentionPeriod.valid || retentionPeriod.pristine" class="alert alert-danger">
        A file destination period is required
      </div>
    </div>
    <button type="button" *ngIf="update" class="btn btn-danger" (click)="delete()">Delete</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
