.input-group {

    text-align: center; 
    margin: auto;
    margin-bottom: 1em;
}
.btn{
    background-color:#3fb0ac;
    color: white;
}
.btn:hover{
    background-color: #b3c2bf;
}
label{
    color: white;
    text-align: center;
    padding-right: 1em;
    width: 8em;
}
