/* buttons to submit or cancel service key creation */
.csk-form-submit-group{
    display: inline-flex;
    column-gap: 1em;
    margin-top: 1em;
}

/* service key creation form */
.skc-form{
    margin-top: 1em;
}
#skc-hint{
    color: mediumvioletred;
}

/* whole page component */
.section-content{
    
}