@import '../../../../core/core';


.query-editor-frame{

    background-color: #bbb;

}
.btn.btn-primary.cancel_q{
    margin: 10px;
    border-radius: 10px;
    background-color: lightsalmon;
}

.btn.btn-primary.save_q{
    margin: 10px;
    border-radius: 10px;
}