.container {
  padding-top: 20px;
}
.fa-trash-alt,
.fa-user-minus {
  color: #dc3545 !important;
}
.table-names2 {
  width: 80%;
}
.table-names3 {
  width: 55%;
}
.table-interactions {
  width: 20%;
}
.form-check-label {
  padding: 0 0 0 20px;
}
.form-check-input {
  padding: 0 0 0 10px;
}
.checkbox-w_labels {
  margin-left: 20px;
}
td {
  vertical-align: middle;
}
.flexbox {
  display: flex;
  justify-content: space-between;
}
.flexbox * {
  padding: 2px;
}

.form-control.ip{
  padding: 0px 10px;
  margin-right: 0.5em;
}

.table{
  margin-left: 0.5em;
  margin-bottom: 2em;
}

.table th, .table td {
  padding: 0.45rem;
}
