<div class="section-content" *ngIf="job.jobType == 'BACKUP'">
  <h3>Restore Job</h3>
  <h4>Destination</h4>
  <table class="table">
    <tbody *ngIf="job.destination">
      <tr>
        <th>Destination Name</th>
        <td>{{job.destination.name}}</td>
      </tr>
      <tr>
        <th>Destination Type</th>
        <td>{{job.destination.type}}</td>
      </tr>
      <tr>
        <th>Container/Bucket</th>
        <td>{{job.destination.container}}{{job.destination.bucket}}</td>
      </tr>
    </tbody>
  </table>
  <h4>Files</h4>
  <table class="table">
    <tbody *ngIf="job.files">
      <tr *ngFor="let item of job.files | keyvalue">
        <td>{{item.key}}</td>
        <td>{{item.value}}</td>
        <td><button type="button" class="btn btn-primary pull-right" (click)="restore(job, item.key, item.value)">Restore</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="section-content" *ngIf="job.jobType == 'RESTORE'"> 
    <h3>Restore Job</h3>
    <h4>Execution information</h4>
    <table class="table">
      <tbody *ngFor="let agentExecutionReponse of job.agentExecutionReponses | keyvalue">
        <tr>
          <th>Database</th>
          <td>{{agentExecutionReponse.key}}</td>
        </tr>
        <tr>
          <th>Status</th>
          <td>{{agentExecutionReponse.value.status}}</td>
        </tr>
        <tr>
          <th>Start Time</th>
          <td>{{agentExecutionReponse.value.start_time}}</td>
        </tr>
        <tr>
          <th>End Time</th>
          <td>{{agentExecutionReponse.value.end_time}}</td>
        </tr>
        <tr>
          <th>Execution Time (in Seconds)</th>
          <td>{{agentExecutionReponse.value.execution_time_ms / 1000}}</td>
        </tr>
        <tr>
          <th>Pre-restore Log</th>
          <td>
            <code>
                    {{agentExecutionReponse.value.pre_restore_check_log}}
                  </code>
          </td>
        </tr>
        <tr>
          <th>Pre-restore Error Log</th>
          <td>
            <code>
                    {{agentExecutionReponse.value.pre_restore_check_errorlog}}
                  </code>
          </td>
        </tr>
        <tr>
          <th>Pre-restore Log</th>
          <td>
            <code>
                {{agentExecutionReponse.value.pre_restore_lock_log}}
              </code>
          </td>
        </tr>
        <tr>
          <th>Pre-restore Error Log</th>
          <td>
            <code>
                {{agentExecutionReponse.value.pre_restore_lock_errorlog}}
              </code>
          </td>
        </tr>
        <tr>
          <th>Restore Log</th>
          <td>
            <code>
                {{agentExecutionReponse.value.restore_log}}
              </code>
          </td>
        </tr>
        <tr>
          <th>Restore Error Log</th>
          <td>
            <code>
                {{agentExecutionReponse.value.restore_errorlog}}
              </code>
          </td>
        </tr>
        <tr>
          <th>Post-restore Cleanup Log</th>
          <td>
            <code>
                {{agentExecutionReponse.value.restore_cleanup_log}}
              </code>
          </td>
        </tr>
        <tr>
          <th>Post-restore Cleanup Error Log</th>
          <td>
            <code>
                {{agentExecutionReponse.value.restore_cleanup_errorlog}}
              </code>
          </td>
        </tr>
        <tr>
          <th>Post-restore Unlock Log</th>
          <td>
            <code>
                {{agentExecutionReponse.value.post_restore_unlock_log}}
              </code>
          </td>
        </tr>
        <tr>
          <th>Post-restore Unlock Error Log</th>
          <td>
            <code>
                {{agentExecutionReponse.value.post_restore_unlock_errorlog}}
              </code>
          </td>
        </tr>
      </tbody>
    </table>  
  </div>