<div class="container" style="padding: 20px 0 20px 0">
  <p><a class="link" routerLink="/backup"><< Go Back</a></p>
  <form #form="ngForm" action="#" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="authUrl">Authentication URL</label>
      <input type="text" class="form-control" name="authUrl" #authUrl="ngModel" [(ngModel)]="request.source.authUrl" required>
      <small id="authUrl" class="form-text text-muted">OpenStack API Keystone URL (e.g. https://os.eu-de-darz.msh.host:5000/v3)</small>
      <show-errors [control]="authUrl"></show-errors>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" name="username" #username="ngModel" [(ngModel)]="request.source.username" required>
      <show-errors [control]="username"></show-errors>
      <small id="username" class="form-text text-muted">Username for the API Endpoint (e.g. mail@domain.com)</small>      
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" #password="ngModel" [(ngModel)]="request.source.password" required>
      <show-errors [control]="password"></show-errors>
      <small id="password" class="form-text text-muted">Password for the API Endpoint</small>      
    </div>
    <div class="form-group">
      <label for="domain">Domain</label>
      <input type="domain" class="form-control" name="domain" #domain="ngModel" [(ngModel)]="request.source.domain" required>
      <show-errors [control]="domain"></show-errors>
      <small id="domain" class="form-text text-muted">Domain for the API Endpoint (the OpenStack Domain)</small>      
    </div>
    <div class="form-group">
      <label for="projectName">Project</label>
      <input type="projectName" class="form-control" name="projectName" #projectName="ngModel" [(ngModel)]="request.source.projectName" required>
      <show-errors [control]="projectName"></show-errors>
      <small id="projectName" class="form-text text-muted">Project for the API Endpoint (the OpenStack Project)</small>      
    </div>
    <div class="form-group">
      <label for="containerName">Container Name</label>
      <input type="containerName" class="form-control" name="containerName" #containerName="ngModel" [(ngModel)]="request.source.containerName" required>
      <show-errors [control]="containerName"></show-errors>
      <small id="containerName" class="form-text text-muted">OpenStack Swift Container name</small>
    </div>
    <div class="form-group">
      <label for="filename">Filename</label>
      <input type="filename" class="form-control" name="filename" #filename="ngModel" [(ngModel)]="request.source.filename" required>
      <show-errors [control]="filename"></show-errors>
      <small id="filename" class="form-text text-muted">Backupfile name</small>      
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.form.valid">Restore</button>
  </form>
</div>
