<div class="container" style="padding: 20px 0 0 0">
    <p><a class="link" routerLink="/backup"><< Go Back</a></p>
  <div  class="col-lg-12">
    <h2> Backup Job</h2>
    <div *ngIf="job.startDate">
        <h4> Job Status </h4>
        <table class="table">
        <tbody>
          <tr>
            <th>Start Date</th>
            <td>{{job.startDate | date:"dd.MM.yyyy"}}</td>
          </tr>
          <tr>
            <th>Start Date</th>
            <td>{{job.startDate | date:"hh:mm"}} Uhr</td>
          </tr>
        <tr>
            <th>Status</th>
            <td>{{job.status}}</td>
          </tr>
          <tr>
            <th>Job Type</th>
            <td>{{job.jobType}}</td>
          </tr>
        </tbody>
      </table>

      </div>
    <div *ngIf="job.destination">

      <h4> Backup File</h4>
              <table class="table">
        <tbody>
          <tr>
            <th>Openstack Project</th>
            <td>{{job.destination.project}}</td>
          </tr>
          <tr>
            <th>Container Name</th>
            <td>{{job.destination.container}}</td>
          </tr>
        <tr>
            <th>Filename</th>
            <td>{{job.destination.filename}}</td>
          </tr>
          <tr>
            <th>Openstack Url</th>
            <td>{{job.destination.authUrl}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div>
      <button type="submit" class="btn btn-danger pull-right" (click)="delete()">Delete</button>
    </div>
  </div>
</div>
