<div class="container" style="padding: 20px 0 0 0">  
  <div class="col-lg-12">
    <p>
      <a class="link" routerLink="/backup"><< Go Back</a>
    </p>
    <h2>Backup Job - Status</h2>
    <div>      
      <table class="table">
        <tbody>
          <tr>
            <th>Start Date</th>
            <td>{{job.startDate | date:"dd.MM.yyyy - hh:mm"}}</td>
          </tr>          
          <tr>
            <th>Status</th>
            <td>{{job.status}}</td>
          </tr>
          <tr>
            <th>Job Type</th>
            <td>{{job.jobType}}</td>
          </tr>
        </tbody>
        <tbody *ngIf="job.destination">
          <tr>
            <th colspan="2"><h4>Backup File</h4></th>
          </tr>
          <tr>
            <th>Openstack Project</th>
            <td>{{job.destination.project}}</td>
          </tr>
          <tr>
            <th>Container Name</th>
            <td>{{job.destination.container}}</td>
          </tr>
          <tr>
            <th>Filename</th>
            <td>{{job.destination.filename}}</td>
          </tr>          
          <tr>
            <th>Logs</th>
            <td>
              <code style="padding: 0">
                <ng-container *ngFor="let log of job.logs; let i = index">
                <strong>{{i+1}}.</strong> {{log}} <br/>
                </ng-container>
              </code>
            </td>
          </tr>
        </tbody>
      </table>      
    </div>
    <div>
      <button type="submit" class="btn btn-danger pull-right" (click)="delete()">Delete</button>
    </div>
  </div>
</div>