@import '../../../core/core';

.container {
    margin-top: 0px;
    padding-top: 73px;
    max-width: 100vw;
}
.nav-container {
    display: grid;
    grid-template-columns: 245px 80px;
    grid-gap: 0.6em;
    margin-right: 3vw;
    margin-bottom: 3vh;
}
.appId{
    justify-self: stretch;
    align-self: start;
    cursor: pointer;
}


.btn.btn-danger {  //start button when acting as stop button
    height: 2.4em;
    align-self: start;
    border-radius: $basic-border-radius;
    border: 3px solid $attention-red;
    background-color: $transparent;
    color: $attention-red;
    font-size: 1em;
    padding: 4px 2px
}


.btn.btn-primary {  //start button
    height: 2.4em;
    align-self: start;
    border-radius: $basic-border-radius;
    border: 3px solid $primary-color-ultra-light;
    background-color: $transparent;
    color: $primary-color;
    font-size: 1em;
    padding: 4px 2px
}
.btn.btn-primary:hover{
    color: $success-green;
    border: 3px solid $primary-color;
    background-color: $transparent;
}
.btn-danger { 
    height: 2.4em;
    align-self: start;
    border-radius: $basic-border-radius;
}

