<!-- <label *ngIf="serviceBindings" for="appId">
    Wählen Sie den Namen Ihrer Applikation</label> -->

<div class="box">
    <select *ngIf="serviceBindings" class="custom-select mr-sm-2 appName" [(ngModel)]="choosen" name="appName"
        (change)="setChoosen()"
        [ngClass]="serviceBindings!![choosen] && serviceBindings!![choosen].deprecated ? 'chosen-depr': 'chosen-alive'">
        <option selected *ngFor="let app of serviceBindings; let i = index" [value]="i">
            {{app.appName + (app.deprecated ? " (unbound)" : "")}}</option>
    </select>
    <label id="applabel">app:</label>
</div>