span.ok{
    color: green;
}
span.error{
    color: red;
}
span.empty{
    color: yellow;
}
span.empty::after{
    content: "empty result";
}
span.error::after{
    content: "!broken aggregation!";
}
