<h4>Choose the App you want your logs offs</h4>
<form>
    <h5>Define with of the Chart in Percent. Default is 30%</h5> 
    <select class="form-control" [(ngModel)]="size" name="size">
      <option *ngFor="let option of sizeOptions" [value]="option">{{(option/12) *100 }}%</option>
    </select>
    <label for="name">Name the Chart</label>
    <input [(ngModel)]="name" type="text" class="form-control" id="name" name="name" required>
  </form>
<form>
  <div class="form-group">
    <label for="appName">Name of the App:</label>
    <input [(ngModel)]="appName" type="text" class="form-control" id="appName" name="appName" required>
    <label for="space">space</label>
    <input [(ngModel)]="space" type="text" class="form-control" id="space" name="space" required>
    <a class="btn btn-primary" (click)="buildChartRequest()" role="button">Save Chart</a>
    <a class="btn btn-primary" (click)="cancelCreation()" role="button">Cancel</a>
  </div>
</form>
<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
  <ngb-panel title="Your Chart:">
    <ng-template ngbPanelContent>
      <h5>Description</h5>
      {{choosenChart.description}}
      <h5>Aggregtaion:</h5>
      <pre>{{choosenChart.aggregations | json  }}</pre>
    </ng-template>
  </ngb-panel>
</ngb-accordion>