@import '../../core';

$nav-text-color: $gray-700;
$nav-text-color-light: $gray-600;

.fa, .fas {
  font-size: 14px;
  color: $nav-text-color-light;
}

.sidebar-nav-flex {
  display: flex;
  flex: 1;
  flex-direction: column;
  &.collapse {
    display: none;

    &.show {
      display: flex;
    }
  }
}


.sidebar-layout-top-row {
  height: $toolbar-height;
  border-bottom: $sidebar-border-style;
  padding: .5rem 1rem;
  display: flex;
  margin: 5px 0 5px 0;
  align-items: center;
  background-color: hsla(0,0%,100%, 1);
  z-index: $bars-z-index +1;

  h2 {
    margin-bottom: 0;
    // make certain characters like g or q properly extend below the baseline into the padding
    // see also https://stackoverflow.com/questions/10182336/text-cropping-when-using-overflow-hidden
    // required when combined with .text-ellipsis, which applies overflow:hidden
    line-height: 1.5;
    font-weight: 400; // required to make it look as before
  }
}

.sidebar-nav-title {
  .navbar-toggler {
    width: 2em;
    height: 1.5em;
    align-self: center; // override default toggler style
    color: $nav-text-color-light;
    padding: 0;
  }
}

.sidebar-nav-content {
  overflow-y: auto; // allow scrolling the content, not the title
  list-style: none;
}

.sections {
  padding: 1rem 1rem 0;

  > li {
    display: block;
  }
}

.section-header {
  display: flex;

  h3 {
    font-size: 16px;
    font-weight: 400;
  }
}

.nav-link {
  border-radius: 6px;
  cursor: pointer;
  grid-column: 1/2;
  grid-row: 1/2;
  .icon {
    min-width: 24px;
    display: inline-block;
  }
}


.nav-items-stack {
  padding: 0;

  > li {
    display: block;
    padding: 1px 0px;

    > a {
      color: $nav-text-color;
      padding: .35rem;
      font-size: $nav-item-size;
      //border: 1px solid $transparent;
    }

    > a.disabled {
      color: $nav-disabled-color;
      pointer-events: none;
      cursor: default;
    }

     > a:hover{
      text-decoration: none;
      background-color: $gray-6;
      //border: 1px solid $gray-5;
     }
    > a:focus {
      text-decoration: none;
      background-color: $gray-4;
      //border: 1px solid $primary-color-ultra-light;
    }

  }

  > li .active {
    background-color: $gray-4;
    //border: 1px solid $primary-color-ultra-light;
    color: #000;      
  }
}
.buttonContainer {
  display: grid !important;
  grid-template-columns: 85% 10%;
  grid-template-rows: auto;
  grid-column-gap: 5%;


  .nav-link {
   
  }
  .buttonFavicon {
    grid-column: 2/3;
    grid-row: 1/2;
    cursor: pointer;
    padding: .5rem 0;
    line-height: 100%; 
    vertical-align: bottom;
  }

}
