<div class="form-group" [hidden]="displayType == null">
  <label>Aggregation Type</label>
  <select class="form-control" [(ngModel)]="aggType" (change)="initAggregationTree($event)">
    <option>-- Please select --</option>
    <option *ngFor="let aggregationType of aggregationTypes" [value]="aggregationType.type">{{aggregationType.name}}</option>
  </select>
</div>
<div *ngIf="aggregationType">
  <div *ngFor="let field of aggregationType.fields">
    <div [ngSwitch]="field.type">
      <div *ngSwitchCase="'text'" class="form-group">
        <input-field [field]="field" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)" [aggregationType]="aggregationType"></input-field>
      </div>
      <div *ngSwitchCase="'number'" class="form-group">
        <input-field [field]="field" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)" [aggregationType]="aggregationType"></input-field>
      </div>
      <div *ngSwitchCase="'checkbox'" class="form-group">
        <input-field [field]="field" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)" [aggregationType]="aggregationType"></input-field>
      </div>
      <div *ngSwitchCase="'textarea'" class="form-group">
        <textarea-field [field]="field" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)" [aggregationType]="aggregationType"></textarea-field>
      </div>
      <div *ngSwitchCase="'select'" class="form-group">
        <select-field [field]="field" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)" [aggregationType]="aggregationType"></select-field>
      </div>
      <div *ngSwitchCase="'custom-select'" class="form-group">
        <select-field [field]="field" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)" [aggregationType]="aggregationType"></select-field>
      </div>
      <div *ngSwitchCase="'value-select'">
        <value-select-field [field]="field" [additionalData]="additionalData"></value-select-field>
      </div>
      <div *ngSwitchCase="'field'" class="form-group">
        <label>{{field.label}}</label>
        <div *ngFor="let subField of field.subFields; let i = index;">
          <div [ngSwitch]="subField.type">
            <div *ngSwitchCase="'params'" class="row field-padding">
              <params-field [field]="field" [subField]="subField" [index]="i" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)"
                [aggregationType]="aggregationType"></params-field>
            </div>
            <div *ngSwitchCase="'filters'" class="row field-padding">
              <filters-field [field]="field" [subField]="subField" [index]="i" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)"
                [aggregationType]="aggregationType"></filters-field>
            </div>
            <div *ngSwitchCase="'order'" class="row field-padding">
              <order-field [field]="field" [subField]="subField" [index]="i" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)"
                [aggregationType]="aggregationType"></order-field>
            </div>
            <div *ngSwitchCase="'extended_bounds'" class="row field-padding">
              <bounds-field [field]="field" [subField]="subField" [index]="i" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)"
                [aggregationType]="aggregationType"></bounds-field>
            </div>
            <div *ngSwitchCase="'ranges'">
              <ranges-field [field]="field" [subField]="subField" [index]="i" [aggs]="aggs['aggs'][idx]" [hidden]="expertModeOn(field.expertMode)"
                [aggregationType]="aggregationType"></ranges-field>
            </div>
          </div>
        </div>
        <div class="row field-padding" [hidden]="!field.extendable">
          <div class="col-sm-6">
            &nbsp;
          </div>
          <div class="col-sm-6">
            <button type="button" (click)="clone(field)" class="btn btn-primary btn-sm pull-right">
              Add element
            </button>
          </div>
        </div>
      </div>
      <div *ngSwitchCase="'aggregation'" class="form-group">
        <label>Sub Aggregation</label>
        <div style="margin-left: 25px">
          <aggregation-selector [aggs]="aggs['aggs'][idx]" [displayType]="displayType" [additionalData]="additionalData" [aggregationTypes]="aggregationTypes"
            [index]="index+1">
          </aggregation-selector>
        </div>
      </div>
    </div>
  </div>