<div class="section-content">
  <div class="row">
    <div class="col-lg-12">
      <p>IMPORTANT: We do not expose service credentials with an external IP. You need to SSH in to an app (see:
        <a href="https://docs.cloudfoundry.org/devguide/deploy-apps/ssh-apps.html">CF SSH</a>) to use
        the credentials.
      </p>
      <h2> Service Key </h2>
      <table class="table">
        <tbody>
          <tr>
            <th>Service Instance ID</th>
            <td>{{serviceKey.serviceInstanceId}}</td>
          </tr>
          <tr>
            <th>Service Key ID</th>
            <td>{{serviceKey.id}}</td>
          </tr>
        </tbody>
      </table>
      <h2>Credentials</h2>
      <table class="table">
        <tbody>
          <tr *ngFor="let key of credentials_keys">
            <th>{{key}}</th>
            <td>{{serviceKey.credentials[key]}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-lg-12" style="padding-left: 30px">
        <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
      </div>
    </div>
  </div>