<div class="container" style="padding: 20px 0 20px 0">

  <div class="row">
    <div class="col-lg-6">
      <h2>Credentials</h2>
      <table class="table">

        <tbody>
        <tr *ngFor="let key of credentials_keys">
          <th>{{key}}</th>
          <td>{{serviceKey.credentials[key]}}</td>
        </tr>

        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h2> Service Key </h2>
      <table class="table">
        <tbody>
        <tr>
          <th>Service Instance ID</th>
          <td>{{serviceKey.id}}</td>
        </tr>
        <tr>
          <th>Service Key ID</th>
          <td>{{serviceKey.serviceInstanceId}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h2>Service Addresses</h2>
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Hostname</th>
          <th>Port</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of serviceKey.externalServerAddresses; let i = index">
          <td>{{i+1}}</td>
          <td>{{c.name}}</td>
          <td>{{c.ip}}</td>
          <td>{{c.port}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <button  type="button" class="btn btn-danger" (click)="delete()">Delete</button>
  </div>
</div>
