<div class="container" style="padding: 20px 0 0 0">
  <div class="row">
    <div class="col-lg-12">
      <h2> Service Keys </h2>
      <p>Below you can find the currently existing service keys you have configured for your Instance.</p>
      <p><a class="btn btn-secondary" (click)="create()" role="button">Create Service Key »</a></p>
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Id</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr  *ngFor="let key of serviceKeys; let i = index">
          <td>{{i+1}}</td>
          <td>{{key.id}}</td>
          <td><a href="#" routerLink="/service-keys/{{key.id}}">Details</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
