<!--
  <div class="container-fluid">
  <div class="row logo-row">
    <div class="col-md-12">
      <a [routerLink]="['/dashboard']" class="logo"></a>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-9" *ngIf="elementToRender === undefined || !dashboards">
      <h1>Loading data</h1>
    </div>
    <div class="col-md-9" *ngIf="elementToRender === null">
      <h1>No charts in {{dashboard.name || 'this'}} dashboard</h1>
    </div>
    <div class="col-md-9" *ngIf="elementToRender && elementToRender.type === 'aggregatedView'" style="text-align: center">
      <div class="row justify-content-center">
        <div class="col-md-{{ elem.entity.width }}" *ngFor="let elem of elementToRender.elements">
          <div class="card marginTop">
            <div class="card-block">
              <div class="panel panel-default">
                <div class="panel-body" [ngSwitch]="elem.type">
                <!--  <singlestat-form *ngSwitchCase="'singlestat'" [dashboard]="false" [providedSinglestat]="elem.entity">
                  </singlestat-form>-->
                  <!--
                  <chart *ngSwitchCase="'chart'" [isInAggregatedView]="true" [providedChart]="elem.entity">
                  </chart>
                  <div class="row justify-content-right" [hidden]="elem.entity.error">
                    <div class="col-md-12" style="text-align: right;">
                      <button class="btn btn-sm btn-outline-primary" (click)="showInSingleView(elem)">mehr...</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-9" *ngIf="elementToRender && elementToRender.type !== 'aggregatedView'" style="text-align: center">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card marginTop">
            <div class="card-block">
              <div class="panel panel-default">
                <div class="panel-body" [ngSwitch]="elementToRender.type">
                  <!--
                  <singlestat-form *ngSwitchCase="'singlestat'" [dashboard]="true" [providedSinglestat]="elementToRender" (refresh)="changeDisplayedElement($event)">
                  </singlestat-form>-->
                  <!--
                  <chart *ngSwitchCase="'chart'" [isInAggregatedView]="false" [providedChart]="elementToRender.entity" (refresh)="changeDisplayedElement($event)"
                    (chartDelete)="chartDeleted()">
                  </chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="elementToRender && elementToRender.entity.data">
        <div class="col-md-12">
          <div class="card marginTop">
            <div class="card-block">
              <mst-data-table [elementData]="elementToRender"></mst-data-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

-->
