<div class="grid-container">

  <sb-timefilter [toDate]="toDateView" [fromDate]="fromDateView" (fromDateChange)="setFromDate($event)"
    (toDateChange)="setToDate($event)" class="timefilter">
  </sb-timefilter>

  <span #toggleSidePanelEle [ngClass]="{'draghandle': true, 'active': !sidePanelHidden}" (click)="toggleSidePanel()">
    <span>
      <i class="fas fa-chevron-left"></i>
    </span>
  </span>
  <div id="mainview" #container>

    <div #elementcontainer id="elementcontainer" [ngClass]="{'active': !sidePanelHidden, 'elementcontainer': true}"
      *ngIf="panel" cdkDropList id="list-two" [cdkDropListConnectedTo]="['list-one']"
      (cdkDropListDropped)="drop($event)">
      <div class="inner-element-container" cdkDropList (cdkDropListDropped)="switchElements($event)">
        <section *ngIf="panel.elements.length == 0" id="nodata">
          <i [ngClass]="{'far fa-eye': true}" class="noresulticon"></i>
          <p class="noresultmsg">
            There are no Charts or Tables in your Panel <br />
            Select elements in the Bar on the right side and drag them where you want them
          </p>

        </section>



       

        <sb-element-wrapper sbResizer [containerId]="'elementcontainer'" id="p-e-wrapper" [onEdit]="editMode$" [editControls]="editControl$"
        (sizeEmitter)="saveSize($event, element)" [ngClass]="{'chart-onedit': edit}"
        [ngStyle]="{'flex-basis': element.size + '%'}" *ngFor="let element of panel.elements trackBy: trackByFn"
        [element]="element" cdkDrag [cdkDragDisabled]="!edit" (cdkDragStarted)="started($event)"
        (cdkDragEnded)="ended($event)"> 
          <i class="fas fa-trash" *ngIf="edit" (click)="deleteElement(element)"></i>
          <i class="fas fa-edit" (click)="toggleEditmode()" *ngIf="!edit"></i>
          <div class="drag-handle" *ngIf="edit" cdkDragHandle>
              <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v -3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"> </path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
          </div>
        </sb-element-wrapper>

        
 <!--
          <sb-chart sbResizer [containerId]="'elementcontainer'" [onEdit]="editMode$" [editControls]="editControl$"
          (sizeEmitter)="saveSize($event, chart)" [ngClass]="{'chart-onedit': edit}"
          [ngStyle]="{'flex-basis': chart.size + '%'}" *ngFor="let chart of getOnlyCharts() trackBy: trackByFn"
          [chart]="chart" cdkDrag [cdkDragDisabled]="!edit" (cdkDragStarted)="started($event)"
          (cdkDragEnded)="ended($event)">
          <i class="fas fa-trash" *ngIf="edit" (click)="deleteChart(chart)"></i>
          <i class="fas fa-edit" (click)="toggleEditmode()" *ngIf="!edit"></i>
          <div class="drag-handle" *ngIf="edit" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v -3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z">
              </path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </sb-chart>

       
        
 -->


      </div>
    </div>

    <aside id="sidePanel" [ngClass]="{'active': !sidePanelHidden}" *ngIf="!sidePanelHidden">
      <sb-add-chart-sidepanel id="sidePanelComponent" (ended)="ended($event)" (started)="started($event)">
      </sb-add-chart-sidepanel>
    </aside>
  </div>


</div>
<aside id="edit-controls" *ngIf="edit">
  <div class="button-box">
    <h6>Edit Controls</h6>
    <button class="btn btn-danger" (click)="cancelEdit()">cancel</button>
    <button class="btn btn-primary" (click)="saveEdit()">save</button>
  </div>
</aside>

<sb-notification-icon *ngIf="addingElement" [classes]="addingChartClasses"></sb-notification-icon>