.input-group {
    margin: 0 1em 0 1em;
}
.input-group label {
    margin: 0.1em 0.3em 0 0.3em;
}
.edit-buttons {
    display: inline-block;
    margin-top: 0.3em;
    padding-right: 1.8em;
    text-align: right;
}
.section-content {
    margin-top: 2.5em;
}
.charts {
    margin: 0.2em 0 0.2em 0;

}