@import '../../../core/core';

$text-color: $gray-700;
$text-color-light: $gray-600;

.input-group {
    margin: 0 1em 0 1em;
}
.input-group label {
    margin: 0.1em 0.3em 0 0.3em;
}
.edit-buttons {
    grid-area: buttons;
    display: inline-block;
    margin-top: 0.3em;
    padding-right: 1.8em;
    text-align: right;
}
.grid-container {
    display: grid;
    grid-template-areas:
    'timefilter timefilter' 
    'mainview mainview'
    '. buttons'; 
    grid-template-columns: 1fr 0px;
}
#mainview {
    grid-area: mainview;
    display: flex;
}
.charts {
    margin: 0.2em 0 0.2em 0;
    max-width: 86vw;
}
.inner-chart-container {
    width: 100%;
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-around;
}
.chartcontainer {
    max-width: 86vw;
    flex-grow: 1;
    flex-shrink: 1;
}

.chartcontainer.active {
     width: 80vw;
}
%chart-shared {
    flex-shrink: 1;
}
.chart-size-12 {
    @extend %chart-shared;
    flex-basis: 100%; 
}
.chart-size-6 {
    @extend %chart-shared;
    flex-basis: 50%; 
}
.chart-size-4 {
    @extend %chart-shared;
    flex-basis: 33%; 
}
#sidePanel {
    width: 15vw;
    flex-grow: 0;
    flex-shrink: 0;
    position: sticky;
    overflow: scroll;
    top: 70px;
    margin-top: 0px;
    left: 80vw;
    height: 89vh;
    border-left: 1px solid #dee2e6;
}



.timefilter {
    margin-top: -1.85vh;
    grid-area: timefilter;
    width: -webkit-fill-available;
}

.draghandle {
    display: inline-block;
    font-size: 15pt;
    position: fixed;
    top: 50vh;
    z-index: 400;
    text-align: center;
    right: 0;
    height: 60px;
    width: 27px;
    color: white;
    background-color: #111;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}
.draghandle.active {
    right: 15vw;
}
.draghandle > span {
    display: inline-block;
    width:fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 0.65em;
}

/* Edit Controls */
#edit-controls {
    position: fixed;
    background-color: white;
    bottom: 0;
    border-top: #dee2e6 1px solid;
    width: calc(100% - 200px);
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: center; 
    z-index: 99;
    padding-top: 10px;
    height: fit-content;
}
.button-box button{
    margin-right: 15px;
    margin-bottom: 5px;
}

#nodata {
    width: fit-content;
    margin: auto;
    margin-top: 10rem;
    text-align: center;
}
.noresulticon{
    font-size: 38px;
    color: $text-color-light;
}
.noresultmsg {
    width: fit-content;
    margin: auto;
    color: $text-color;
    margin-top: 3rem;
}
/* //Shaky View on edit for the charts
 .chart-onedit:nth-child(even){
    animation: shake 0.5s;
    animation-iteration-count: infinite; 
}
.chart-onedit:nth-child(odd){
    animation: shake2 0.5s;
    animation-iteration-count: infinite; 
}
.cdk-drop-list-dragging .chart-onedit {
    animation: none
}
.chart-onedit:hover {
    animation: none
}
/* @keyframes shake {
    0% { transform: translate(1px, 1px);}
    10% { transform: translate(-1px, -2px);}
    20% { transform: translate(-3px, 0px);}
    30% { transform: translate(3px, 2px);}
    40% { transform: translate(1px, -1px); }
    50% { transform: translate(-1px, 2px);}
    60% { transform: translate(-3px, 1px);}
    70% { transform: translate(3px, 1px);}
    80% { transform: translate(-1px, -1px);}
    90% { transform: translate(1px, 2px);}
    100% { transform: translate(1px, -2px);}
}

@keyframes shake2 {
    0% { transform: translate(-1px, -2px);}
    10% { transform: translate(1px, 1px);}
    20% { transform: translate(3px, 2px);}
    30% { transform: translate(-3px, 0px);}
    40% { transform: translate(-1px, 2px);}
    50% { transform: translate(1px, -1px); }
    60% { transform: translate(3px, 1px);}
    70% { transform: translate(-3px, 1px);}
    80% { transform: translate(1px, 2px);}
    90% { transform: translate(-1px, -1px);}
    100% { transform: translate(1px, -2px);}
} */
/*.cdk-drag-preview, .cdk-drag-dragging {
    animation: none !important;
}
 */