<div class="grid-container" #container>
  <sb-timefilter [toDate]="toDateView" [fromDate]="fromDateView" (fromDateChange)="setFromDate($event)"
    (toDateChange)="setToDate($event)" class="timefilter">
  </sb-timefilter>

  <div #chartcontainer class="chartcontainer" *ngIf="panel" cdkDropList id="list-two"
    [cdkDropListConnectedTo]="['list-one']" (cdkDropListDropped)="drop($event)">
    <sb-chart
      [ngClass]="{'chart-size-12': chart.size > 6, 'chart-size-6': chart.size <= 6 && chart.size >= 4, 'chart-size-4': chart.size <= 4}"
      *ngFor="let chart of panel.charts trackBy: trackByFn" [chart]="chart"></sb-chart>
  </div>

  <aside *ngIf="!sidePanelHidden">
    <sb-add-chart-sidepanel></sb-add-chart-sidepanel>
  </aside>
  <span class="draghandle" (click)="toogleSidePanel()">
    <span>
      <</span> </span> </div>