<div class="container" style="padding: 40px 0 40px 0">
  <p><a class="link" routerLink="/autoscaler"><< Go Back</a></p>
  <form #form="ngForm" action="#" (ngSubmit)="onSubmit()">
    <h5>Scaling</h5>
    <div class="form-group row">
      <label class="col-sm-3">Scaling Enabled</label>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="scalingEnabled" [(ngModel)]="configuration.scaling.scalingEnabled" #scalingEnabled="ngModel">
          </label>
        </div>
      </div>
    </div>
    <!--
    <div class="form-group row" *ngIf="configuration.scaling.scalingEnabled">
      <label class="col-sm-3">Billing Interval Enabled</label>
      <div class="col-sm-3">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="billingIntervalConsidered" [(ngModel)]="configuration.scaling.billingIntervalEnabled" #billingIntervalEnabled="ngModel">
          </label>
        </div>
      </div>
    </div>
    -->
    <div class="form-group" *ngIf="configuration.scaling.scalingEnabled">
      <label for="scalingIntervalMultiplier">Scaling Interval</label>
      <input type="number" class="form-control" name="scalingIntervalMultiplier" #scalingIntervalMultiplier="ngModel" [(ngModel)]="configuration.scaling.scalingIntervalMultiplier">
      <small id="scalingIntervalMultiplierHelp" class="form-text text-muted">Scaling Interval muliplied with 30s.</small>
      <div [hidden]="scalingIntervalMultiplier.valid || scalingIntervalMultiplier.pristine" class="alert alert-danger">
          Scaling Interval is required
        </div>
    </div>
    <div class="form-group" style="padding-bottom: 25px" *ngIf="configuration.scaling.scalingEnabled">
      <label for="minInstances">Minimum/Maximum Instances:</label>
      <nouislider [config]="minMaxConfig" name="minMaxRange" [(ngModel)]="configuration.scaling.minMaxRange" #minMaxRange="ngModel"></nouislider>
    </div>    
    <div class="form-group" *ngIf="configuration.scaling.scalingEnabled">
      <label for="learningTimeMultiplier">Cool Down Period</label>
      <input type="number" class="form-control" name="cooldownTime" #cooldownTime="ngModel" [(ngModel)]="configuration.scaling.cooldownTime">
      <small id="cooldownTime" class="form-text text-muted">Threshold time, the scaler is not allowed to scale.</small>
      <div [hidden]="cooldownTime.valid || cooldownTime.pristine" class="alert alert-danger">
          Cool Down Period
        </div>
    </div>
    <h5>Learning</h5>
    <div class="form-group row">
      <label class="col-sm-3">Learning Enabled</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="learningEnabled" [(ngModel)]="configuration.learning.learningEnabled" #learningEnabled="ngModel">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row" *ngIf="configuration.learning.learningEnabled">
      <label for="learningStartTime" class="col-sm-3">Learning Start Time</label>
      <div class="col-sm-3">
        {{ configuration.learning.learningStartTime | date:"dd.MM.yyyy - hh:mm" }}  
      </div>
      <div class="col-sm-3">
        <button type="button" class="btn btn-primary" (click)="resetLearningTime()" [mstInlineLoader]="isLoading">Reset Time</button>
      </div>
    </div>
      <div class="form-group" *ngIf="configuration.learning.learningEnabled">
      <label for="learningTimeMultiplier">Learning Time Multiplier</label>
      <input type="number" class="form-control" name="learningTimeMultiplier" #learningTimeMultiplier="ngModel" [(ngModel)]="configuration.learning.learningTimeMultiplier">
      <small id="learningTimeMultiplierHelp" class="form-text text-muted">Multiplier for Learning Time.</small>
      <div [hidden]="learningTimeMultiplier.valid || learningTimeMultiplier.pristine" class="alert alert-danger">
          Learning Mulitplier enabled
        </div>
    </div>
    <h5>Latency</h5>
    <div class="form-group row">
      <label class="col-sm-3">Latency Scaling Enabled</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="latencyScalingEnabled" [(ngModel)]="configuration.latency.latencyScalingEnabled" #latencyScalingEnabled="ngModel">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="configuration.latency.latencyScalingEnabled">
      <label for="latencyThresholdPolicy">Latency Threshold Policy</label>
      <select class="form-control" id="latencyThresholdPolicy" name="latencyThresholdPolicy" [(ngModel)]="configuration.latency.thresholdPolicy" #latencyThresholdPolicy="ngModel">
        <option value="max">Maximum</option>
        <option value="min">Minimum</option>        
        <option value="mean">Mean</option>
      </select>
    </div>    
    <div class="form-group row" *ngIf="configuration.latency.latencyScalingEnabled">
      <label class="col-sm-2">Minimum/Maxmim</label>
      <div class="col-sm-5">
        <input class="form-control" type="number" name="latencyLowerLimit" [(ngModel)]="configuration.latency.lowerLimit" #latencyLowerLimit="ngModel">
        <small id="latencyLowerLimitHelp" class="form-text text-muted">Lower Limit of Latency</small>
        <div [hidden]="latencyLowerLimit.valid || latencyLowerLimit.pristine" class="alert alert-danger">
            Lower Limit is required
        </div>
      </div>
      <div class="col-sm-5">
        <input class="form-control" type="number" name="latencyUpperLimit" [(ngModel)]="configuration.latency.upperLimit" #latencyUpperLimit="ngModel">
        <small id="latencyUpperLimitHelp" class="form-text text-muted">Upper Limit of Latency</small>
        <div [hidden]="latencyUpperLimit.valid || latencyUpperLimit.pristine" class="alert alert-danger">
            Upper Limit is required
        </div>
      </div>
    </div>  
    <h5>CPU</h5>
    <div class="form-group row">
      <label class="col-sm-3">CPU Scaling Enabled</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="cpuScalingEnabled" [(ngModel)]="configuration.cpu.cpuScalingEnabled" #cpuScalingEnabled="ngModel">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="configuration.cpu.cpuScalingEnabled">
      <label for="cpuThresholdPolicy">CPU Threshold Policy</label>
      <select class="form-control" id="cpuThresholdPolicy" name="cpuThresholdPolicy" [(ngModel)]="configuration.cpu.thresholdPolicy" #cpuThresholdPolicy="ngModel">
        <option value="max">Maximum</option>
        <option value="min">Minimum</option>        
        <option value="mean">Mean</option>
      </select>
    </div>
    <div class="form-group" style="padding-bottom: 25px" *ngIf="configuration.cpu.cpuScalingEnabled">
      <label for="lowerUpperLimit">CPU Lower/Upper Limit</label>
      <nouislider [config]="lowerUpperConfig" name="lowerUpperLimit" [(ngModel)]="configuration.cpu.lowerUpperLimit" #lowerUpperLimit="ngModel"></nouislider>
    </div>    
    <h5>RAM</h5>
    <div class="form-group row">
      <label class="col-sm-3">RAM Scaling Enabled</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="ramScalingEnabled" [(ngModel)]="configuration.ram.ramScalingEnabled" #ramScalingEnabled="ngModel">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="configuration.ram.ramScalingEnabled">
      <label for="ramThresholdPolicy">RAM Threshold Policy</label>
      <select class="form-control" id="ramThresholdPolicy" name="ramThresholdPolicy" [(ngModel)]="configuration.ram.thresholdPolicy" #ramThresholdPolicy="ngModel">
        <option value="max">Maximum</option>
        <option value="min">Minimum</option>        
        <option value="mean">Mean</option>
      </select>
    </div>
    <div class="form-group row" *ngIf="configuration.ram.ramScalingEnabled">
      <label class="col-sm-2">Minimum/Maxmim</label>
      <div class="col-sm-5">
        <input class="form-control" type="number" name="ramLowerLimit" [(ngModel)]="configuration.ram.lowerLimit" #ramLowerLimit="ngModel">
        <small id="ramLowerLimitHelp" class="form-text text-muted">Lower Limit of RAM</small>
        <div [hidden]="ramLowerLimit.valid || ramLowerLimit.pristine" class="alert alert-danger">
            Lower Limit is required
        </div>
      </div>
      <div class="col-sm-5">
        <input class="form-control" type="number" name="ramUpperLimit" [(ngModel)]="configuration.ram.upperLimit" #ramUpperLimit="ngModel">
        <small id="ramUpperLimitHelp" class="form-text text-muted">Upper Limit of RAM</small>
        <div [hidden]="ramUpperLimit.valid || ramUpperLimit.pristine" class="alert alert-danger">
            Upper Limit is required
        </div>
      </div>
    </div>    
    <h5>Request</h5>
    <div class="form-group row">
      <label class="col-sm-3">Quotient (Request) Scaling Enabled</label>
      <div class="col-sm-9">
        <div class="form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="quotientScalingEnabled" [(ngModel)]="configuration.requests.quotientScalingEnabled" #quotientScalingEnabled="ngModel">
          </label>
        </div>
      </div>
    </div>
    <div class="form-group" *ngIf="configuration.requests.quotientScalingEnabled">
      <label for="requestThresholdPolicy">Request Threshold Policy</label>
      <select class="form-control" id="requestThresholdPolicy" name="requestThresholdPolicy" [(ngModel)]="configuration.requests.thresholdPolicy" #requestThresholdPolicy="ngModel">
        <option value="max">Maximum</option>
        <option value="min">Minimum</option>        
        <option value="mean">Mean</option>
      </select>
    </div>
    <div class="form-group" *ngIf="configuration.requests.quotientScalingEnabled">
      <label for="requestMinQuotient">Current Quotient</label>
      
    </div>    
    <div class="form-group row" *ngIf="configuration.ram.ramScalingEnabled">
      <label class="col-sm-2">Current/Min Quotient</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="minQuotient" #requestMinQuotient="ngModel" [(ngModel)]="configuration.requests.quotient" disabled="true">
      </div>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="minQuotient" #requestMinQuotient="ngModel" [(ngModel)]="configuration.requests.minQuotient">
        <small id="requestMinQuotientHelper" class="form-text text-muted">Average request count one instance can handle</small>
        <div [hidden]="requestMinQuotient.valid || requestMinQuotient.pristine" class="alert alert-danger">
            Minimum Quotient is required
        </div>
      </div>
      <div class="col-sm-4">
        <button type="button" class="btn btn-primary" (click)="resetQuotient()" [mstInlineLoader]="isLoading">Reset Quotient</button>
      </div>
    </div>        
    <button type="submit" class="btn btn-primary" [mstInlineLoader]="isLoading">Save Binding</button>
  </form>
</div>