<div class="container">
  <ul class="list-group">
    <li class="list-group-item data-item" *ngFor="let entry of entries | keyvalue">
      <sb-aggregation-list class="data-area" [aggregations]="aggregations$" [id]="entry.key"
        [aggregationRequestObject]="entry.value" (aggregationEditor)="setAggregationEditor(entry.key)"
        (picked)="pushAggregation($event, entry.key)">
        <div class="control-area">
          <button type="button" class="btn btn-danger" (click)="delete(entry.key)">delete</button>
        </div>
      </sb-aggregation-list>

    </li>
    <li class="list-group-item">
      <div class="row sb-buttons">
        <button type="button" class="btn btn-success" (click)="add()"><i class="fas fa-plus-square"></i></button>
      </div>
    </li>
  </ul>

</div>