/** Browser banner **/
.notification-banner {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  
    text-align: center;
    font-size: 16px;
    padding: 10px 0;
    margin-top: 100px;
    color: #000;
    opacity: 0.75;
  
    .close {
      margin-right: 1rem;
    }
  }

  .warning {
    background: #FFEEA9;    
  }

  .info {
    background: #42A948;
  }

  .error {
    background: #CC2222;
  }

  .notification-banner#browser-unsupported-banner {
    // this is not perfectly centered, but we make it appear "sufficiently centered"
    // above the loader by adding some larger padding to fully hide it
    bottom: 45vh;
    padding: 40px 0;
  }  