<div class="container" style="padding: 40px 0 40px 0">
  <p>
    <a class="link" routerLink="/autoscaler">
      << Go Back</a>
  </p>

  <ngb-tabset>
    <ngb-tab title="Configure your own Certificates">
      <ng-template ngbTabContent>
        <form #form="ngForm" (ngSubmit)="onCertificateSubmit()">
          <h5>Public IP: {{publicIp}}</h5>
          <h5>Certificates</h5>
          <p>
            To provide a valid certifcate put the following contents into the two inputs
          </p>
          <h6>Certifcate Chain</h6>
          <ul>
            <li>
              The Certificate for your domain
            </li>
            <li>
              The intermediates in ascending order to the Root CA
            </li>
            <li>
              A Root CA, if any (usually none)
            </li>
          </ul>
          <h6>Private Key</h6>
          <ul>
            <li>
              Private Key
            </li>
          </ul>
          <div class="form-group">
            <label for="certificate">Certificate</label>
            <textarea class="form-control" name="certificate" #certificate="ngModel" [(ngModel)]="configuration['certificate']" required></textarea>
            <small id="certificateHelp" class="form-text text-muted">Please provide your certificate and your CA.</small>
            <div [hidden]="certificate.valid || certificate.pristine" class="alert alert-danger">
              Certificate is required
            </div>
          </div>
          <div class="form-group">
            <label for="certificate">Private Key</label>
            <textarea class="form-control" name="private_key" #private_key="ngModel" [(ngModel)]="configuration['private_key']" required></textarea>
            <small id="private_keyHelp" class="form-text text-muted">Please provide your private key.</small>
            <div [hidden]="private_key.valid || private_key.pristine" class="alert alert-danger">
              Private Key is required
            </div>
          </div>
          <button type="submit" class="btn btn-success" [disabled]="!form.form.valid">Validate & Save Certificates</button>
          <small id="certificateWarning" class="form-text">
            <font color="red">Certificate already exists. Saving a new certificate would override the old one</font>
          </small>
        </form>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Use Let's Encrypt">
        <ng-template ngbTabContent>
          <form #form="ngForm" (ngSubmit)="submitDomains()">
            <h5>Public IP: {{publicIp}}</h5>
            <h5>Blah irgendein Text hier</h5>
            <div class="form-group">
              <label for="domains">Domains</label>
              <textarea class="form-control" name="domains" #domains="ngModel" [(ngModel)]="configuration['domains']" required></textarea>
              <small id="letsencryptHelp" class="form-text text-muted">Please enter your domain(s) as a comma seperated list</small>
              <div [hidden]="domains.valid || domains.pristine" class="alert alert-danger">
                Domain(s) are required
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" name="email" #email="ngModel" [email]="true" [(ngModel)]="configuration['email']" required>
              <small>Please enter your Email address here</small>
              <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Valid email address is required
              </div>
            </div>
            <div>
              <input type="checkbox" name="acceptTerms" #acceptTerms="ngModel" [(ngModel)]="configuration['acceptTerms']" required>
              <label> I have read and accept the terms and conditions and the policy of <a href="https://letsencrypt.org/repository/">letsencrypt.org</a></label> 
              <div [hidden]="acceptTerms.valid || acceptTerms.pristine" class="alert alert-danger">
                It is required to accept the terms and conditions
              </div>
            </div>
            <button type="button" class="btn btn-success" [disabled]="!form.form.valid" (click)="validateDomains()">Validate Domains</button>
            <button type="submit" class="btn btn-success" [disabled]="!validDomains" [mstInlineLoader]="isLoading">Save Domains</button>
          </form>
        </ng-template>
      </ngb-tab>
  </ngb-tabset>
</div>