
.timefilter-layout-top-row {
    height: 55px;
    border-bottom: 1px solid #dee2e6;
    padding: .2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    z-index: 901;
}

.timefilter-toolbar {
    position: fixed;
    top: 56px;
    left: 200px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
}