@import '../../../../core/core';

#query-group-frame{
    text-align: center;
    background-color: #f2f2f2;
    padding: 1em 0em;

}

#single-query{
    display: inline-block;
    align-self: center;
}

#add-query{
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 18px;
    border: none;
    cursor: pointer;
    margin: 10px;
    background-color: #ddd;
    outline: none;
}

#add-query:hover{
    background-color:#afcbff;
}