
@import '../../core';

.sidebar-layout {
  margin-top: 0.1em;
}
:host /deep/ .sidebar-nav-flex {
  width: 100%;
}
.sidebar {
  position: fixed;
  left: 0;
  top: $navbar-height;
  display: flex;
  z-index: $bars-z-index;
  background-color: hsla(0,0%,100%,.95);
  overflow-x: hidden; // do not allow text to overflow into main content area

  @include media-breakpoint-down(sm) {
    // <= sm, horizontal on full screen width
    right: 0;
    min-height: $toolbar-height;

    .sidebar-layout-top-row {
      border-right: $sidebar-border-style;
      width: $sidebar-width;
    }
  }
  @include media-breakpoint-up(md) {
    // >= md, vertical on the left
    bottom: 0;
    width: $sidebar-width;
    border-right: $sidebar-border-style;
    // necessary to ensure content does not "thin" the border... this is some sort of rendering issue
    // affecting the .sidebar-layout-top-row
    padding-right: $sidebar-border-width;
  }

}

.content {
  @include media-breakpoint-up(md) {
    padding-left: $sidebar-width;
  }
  
}

@media(max-width: 768px){
  .content {
    // make sure that no content is hidden behind the responsive navbar which is 50px high
    margin-top: 55px; 
  } 
}