<div class="container" style="padding: 20px 0 0 0">
  <div class="row">
    <div class="col-lg-6">
      <h2>Currently Active Backup Plans </h2>
      <p>Below you can find the currently active Backup Plans you have 
        configured for your Instance.
      </p>  
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>#</th>
            <th>Context</th>
            <th>Type</th>
            <th>Frequency</th>
            <th>Retention</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>TEST_INSTANCE</td>
            <td>MySQL</td>
            <td>* * 14 * * *</td>
            <td>DAYS</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>TEST_INSTANCE</td>
            <td>MySQL</td>
            <td>* * 14 * * *</td>
            <td>DAYS</td>
          </tr>        
        </tbody>
      </table>
      <p><a class="btn btn-secondary" routerLink="/backup/create-plan" role="button">Create Backup Plan »</a></p>
    </div>
    <div class="col-lg-6">
      <h2>Recent Backup Jobs</h2>
      <p>Below you can find the recently executed Backup Jobs. This list
        contains all active "Backup Plans" and manually triggered Backup
        Jobs.
      </p>  
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>#</th>
            <th>Start Date</th>
            <th>Instance</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>1501135163662</td>
            <td>TEST_INSTANCE</td>
            <td>SUCCESS</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>1501135163662</td>
            <td>TEST_INSTANCE</td>
            <td>SUCCESS</td>
          </tr>        
        </tbody>
      </table>
      <p><a class="btn btn-secondary" routerLink="/backup/create-job" role="button">Create Backup Job »</a></p>
    </div>
  </div>
</div>