<div class="container" style="padding: 20px 0 0 0">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <h2>Currently Active Backup Plans </h2>
          <p>Below you can find the currently active Backup Plans you have configured for your Instance.
          </p>
          <p><a class="btn btn-secondary" routerLink="/backup/plan" role="button">Create Backup Plan »</a></p>
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th>#</th>
                <th>Context</th>
                <th>Type</th>
                <th>Frequency</th>
                <th>Retention</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let plan of plans; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{ plan.source.context }}</td>
                <td>{{ plan.source.type }}</td>
                <td>{{ plan.frequency }}</td>
                <td>{{ plan.retentionStyle }}</td>
                <td><a href="#" routerLink="/backup/plan/{{plan.id}}">Details</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12">
          <h2>Restore data from Backup</h2>
          <p>Click the button below to restore data from an backup stored in an Swift containter</p>
          <p><a class="btn btn-secondary" routerLink="/backup/create-restore" role="button">Restore from Backup »</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12">
          <h2>Backend Endpoints</h2>
          <p>In table below you can find different backup configuration endpoints you can reuse, when creating
            new backup definitions.
          </p>
          <p><a class="btn btn-secondary" routerLink="/backup/file-endpoint" role="button">Create File Endpoint »</a></p>
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th>#</th>
                <th>Auth URL</th>
                <th>Domain</th>
                <th>Project</th>
                <th>Container</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let destination of destinations; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{ destination.authUrl }}</td>
                <td>{{ destination.domain }}</td>
                <td>{{ destination.projectName }}</td>
                <td>{{ destination.containerName }}</td>
                <td><a href="#" routerLink="/backup/file-endpoint/{{destination.id}}">Details</a></td>
                <td><a href="#" (click)="startBackup(destination.id)">Backup Now</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-lg-12">
          <h2>Recent Backup Jobs</h2>
          <p>Below you can find the recently executed Backup Jobs. This list contains all active "Backup Plans" and manually triggered
            Backup Jobs.
          </p>
          <table class="table">
            <thead class="thead-default">
              <tr>
                <th>#</th>
                <th>Start Date</th>
                <th>Instance</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let job of jobs; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td>{{ job.startDate | date:"dd.MM.yyyy - hh:mm" }}</td>
                <td>{{ job.instanceId }}</td>
                <td>{{ job.status }}</td>
                <td><a href="#" routerLink="/backup/job/{{job.id}}">Details</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
