<div class="container" style="padding: 20px 0 0 0">
  <div class="row">
    <div class="col-lg-6">
      <h2>Currently Active Backup Plans </h2>
      <p>Below you can find the currently active Backup Plans you have
        configured for your Instance.
      </p>
      <p><a class="btn btn-secondary" routerLink="/backup/create-plan" role="button">Create Backup Plan »</a></p>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>#</th>
            <th>Context</th>
            <th>Type</th>
            <th>Frequency</th>
            <th>Retention</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of plans; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{ plan.source.context }}</td>
            <td>{{ plan.source.type }}</td>
            <td>{{ plan.frequency }}</td>
            <td>{{ plan.retentionStyle }}</td>
            <td><a href="#" routerLink="/backup/plan/{{plan.id}}">Details</a></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <h2>Recent Backup Jobs</h2>
      <p>Below you can find the recently executed Backup Jobs. This list
        contains all active "Backup Plans" and manually triggered Backup
        Jobs.
      </p>
      <p><a class="btn btn-secondary" routerLink="/backup/create-job" role="button">Create Backup Job »</a></p>
      <table class="table">
        <thead class="thead-default">
          <tr>
            <th>#</th>
            <th>Start Date</th>
            <th>Instance</th>
            <th>Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let job of jobs; let i = index">
            <th scope="row">{{i + 1}}</th>
            <td>{{ job.startDate | date:"hh:mm dd.MM.yyyy" }}</td>
            <td>{{ job.instanceId }}</td>
            <td>{{ job.status }}</td>
            <td><a href="#" routerLink="/backup/job/{{job.id}}">Details</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>Restore data from Backup</h2>
      <p>Click the button below to restore data from an backup stored in an Swift containter<
      </p>
      <p><a class="btn btn-secondary" routerLink="/backup/create-restore" role="button">Restore from Backup »</a></p>  </div>
</div>
