
<ngb-alert *ngIf="successMessage" type="success">{{ successMessage }}</ngb-alert>
<sb-wizard size="lg" navPosition="right" title="Create Panel" (wizardFinished)="create()">

  <sb-wizard-step title="Panel"></sb-wizard-step>
  <sb-wizard-step title="Charts"></sb-wizard-step>

  <sb-wizard-page [nextDisabled]="!(ngFormDetails.form.valid)">
    <form #ngFormDetails="ngForm" (ngSubmit)="next($event)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="name" class="form-control" id="name" name="name" required>

        <label for="description">Description</label>
        <input type="text" class="form-control" [(ngModel)]="description" name="description" id="description">
      </div>

      <sb-wizard-page-submit-button title="Next"></sb-wizard-page-submit-button>
    </form>
  </sb-wizard-page>
  <sb-wizard-page [nextDisabled]="!(ngFormSource.form.valid)">
    <form #ngFormSource="ngForm" (ngSubmit)="next($event)" class="form-horizontal form-standard">
      <p>
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
          <span *ngIf="!isCollapsed">Cancel </span>
          <span *ngIf="isCollapsed">Add Chart </span>
        </button>
      </p>
      <div id="collapseExample" [ngbCollapse]="isCollapsed">
        <div class="card" *ngIf="!isCollapsed">
          <div class="card-body">
            <sb-query-editor (promSuccess)="addPromRequest($event)" (esSuccess)="addEsRequest($event)"></sb-query-editor>
          </div>
        </div>
      </div>
      <div *ngIf="chartVms">
        <h3>Chartpreview:</h3>
        <p>Click on the Chartname to get a preview of the Chart</p>
      </div>
      <ngb-accordion [closeOthers]="true" draggable activeIds="static-1" *ngFor="let chartQuerie of chartVms">
        <ngb-panel id="static-1" title="{{chartQuerie.name}}">
          <ng-template ngbPanelContent>
            <sb-chart [requObj]="chartQuerie" [chartId]="chartQuerie.chartId"></sb-chart>
            <button type="button" (click)="deleteChartRequest(chartQuerie)" class="btn btn-danger">Delete</button>
          </ng-template>
        </ngb-panel>
      </ngb-accordion>
      <sb-wizard-page-submit-button></sb-wizard-page-submit-button>
    </form>
  </sb-wizard-page>
</sb-wizard>