/* li {
    list-style: none;
    background-color: #fff;
    background-clip: border-box;
    padding: 1.22rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    width: 104%;
}
ul {
    padding: 0 2em 0 0;
} */

.container {
    display: grid;
    grid-template-columns: auto auto  auto;
    grid-template-areas: 
    'form-left form form-right'
    'details details details';
    grid-column-gap: 1em;
}
.form-right {
    grid-area: form-right;
    align-self: end;
}
.form {
    grid-area: form;
}
.form-left {
    grid-area: form-left;
    align-self: end;
}
.details {
    grid-area: details;
    justify-self: center;
}