<div class="aggregationList container">

  <div class="form-left">
    <span class="label">Aggregation:</span>
    <div>
      <button type="button" class="btn btn-success" (click)="openAggregationEditor()">
        Create <i class="fas fa-file-alt"></i></button>
      <span class="or">or</span>
    </div>

    <div class="aggSelector">
      <!--<label for="aggregationList">pick aggregation</label>-->
      <select id="aggregationList" class="form-control" [ngModel]="aggregationRequestObject.aggregation"
        (ngModelChange)="pick($event)">
        <option [ngValue]="{}">---- Choose Aggregation ----</option>
        <option *ngFor="let aggregation of aggregations" [ngValue]="aggregation"> {{aggregation.name}} </option>
      </select>
      <span *ngIf="!aggregationEmpty()" class="btn" (click)="showDetails = !showDetails" style=""><i
          class="fas fa-info-circle"></i></span>
    </div>
  </div>

  <div class="scope" *ngIf="!aggregationEmpty()">
    <span class="label">Application:</span>
    <sb-appid [selected]="aggregationRequestObject.appId" (app)="updateId($event)">
    </sb-appid>
  </div>

  <div id="status">
    <span class="{{aggregationRequestResults}}">{{aggregationRequestResults}}</span>
  </div>

  <ng-content></ng-content>
  <div class="details" id="collapseExample"
    *ngIf="aggregationRequestObject && aggregationRequestObject.aggregation && showDetails">
    <h2>{{aggregationRequestObject.aggregation.name}}</h2>
    <h5>{{aggregationRequestObject.aggregation.description}}</h5>
    <code>{{aggregationRequestObject.aggregation.actualAggregation | json}}</code>
    <div class="row sb-buttons">
      <button type="button" class="btn btn-danger" (click)="delete()">delete</button>
      <button type="button" class="btn btn-primary" (click)="edit()">edit</button>
    </div>
  </div>
</div>