<div [ngClass]="{'error': aggregationRequestResults && aggregationRequestResults == 'error'}"
  class="aggregationList container">

  <div class="form-left">
    <button type="button" class="btn btn-success" (click)="openAggregationEditor()"> new
      Aggregation</button>
    <span>or</span>
  </div>

  <div class="form">
    <!--<label for="aggregationList">pick aggregation</label>-->
    <select id="aggregationList" class="form-control" [ngModel]="aggregationRequestObject.aggregation"
      (ngModelChange)="pick($event)">
      <option [ngValue]="{}">---- Choose Aggregation ----</option>
      <option *ngFor="let aggregation of aggregations" [ngValue]="aggregation"> {{aggregation.name}} </option>
    </select>
  </div>
  <div class="form-right">
    <button *ngIf="!aggregationEmpty()" class="btn btn-primary" (click)="showDetails = !showDetails">
      Aggregation Details
    </button>
  </div>
  <sb-appid *ngIf="!aggregationEmpty()" class="scope" [selected]="aggregationRequestObject.appId"
    (app)="updateId($event)">
  </sb-appid>

  <ng-content></ng-content>
  <div class="details" id="collapseExample"
    *ngIf="aggregationRequestObject && aggregationRequestObject.aggregation && showDetails">
    <h2>{{aggregationRequestObject.aggregation.name}}</h2>
    <h5>{{aggregationRequestObject.aggregation.description}}</h5>
    <code>{{aggregationRequestObject.aggregation.actualAggregation | json}}</code>
    <div class="row sb-buttons">
      <button type="button" class="btn btn-danger" (click)="delete()">delete</button>
      <button type="button" class="btn btn-primary" (click)="edit()">edit</button>
    </div>
  </div>
</div>