<div class="card" *ngIf="cfEntity">
  <div class="card-body">
    <h3 class="card-title" *ngIf="appName">Metrics of {{appName}}</h3>
    <div class="form-inline">
        <div ngbDropdown class="d-inline-block">
            <button class="btn btn-outline-primary" id="appDropdown" ngbDropdownToggle>Choose-App</button>
          </div>
      <label for="organisation" class="row-form-label col-sm-2">Organisation: </label> 
      <div class="row-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="organisation" value="{{cfEntity.org}}">
      </div>
      <label for="space" class="row-form-label col-sm-2">Space: </label> 
      <div class="row-sm-10">
          <input type="text" readonly class="form-control-plaintext" id="space" value="{{cfEntity.space}}">
      </div>
    </div>
  </div>
</div>


