<base href="/">
<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <a class="navbar-brand" href="#">Management UI</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" *ngIf="moduleSupport.mongodb">
        <a class="nav-link" routerLink="/mongodb" routerLinkActive="active">Sample Module </a>
      </li>
      <li class="nav-item active" *ngIf="moduleSupport.autoscaler">
        <a class="nav-link" routerLink="/autoscaler" routerLinkActive="active">Auto Scaler </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/backup" routerLinkActive="active">Backup </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/service-keys" routerLinkActive="active">Service Keys </a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Logout </a>
      </li>
    </ul>
  </div>
</nav>
<div class="main-outlet">
  <router-outlet></router-outlet>
</div>