@import "../styles";

// Bootstrap overrides
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.15rem;
$h6-font-size: 1rem; // we don't use h6 anywhere

// Restore v4-alpha.6 colors
$white: #fff;
$black: #000;
$red: #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green: #5cb85c;
$blue: #0275d8;
$teal: #5bc0de;
$pink: #ff5b77;
$purple: #613d7c;
$gray: gray;

$primary: $blue;
$success: $green;
$info: $teal;
$warning: $orange;
$danger: $red;

// reset secondary color to v4-alpha.6 style
$secondary: #fff;

// make form field focus chrome less intrusive
$input-btn-focus-width: 1px;

// Custom variables that we need available globally
$navbar-height: 56px;
$nav-disabled-color: $gray-400;
$nav-item-size: 13px;

$footer-height: $navbar-height * 0.75;

$bars-z-index: 900; // ensures it's above content but below dropdowns (=1000)
$table-font-size: 13px;

$sidebar-width: 200px;
$sidebar-border-width: 1px;
$sidebar-border-style: $gray-300 $sidebar-border-width solid;
$sidebar-height-sm-down: 50px;
$toolbar-height: 50px;

$enable-shadows: false;

:host ::ng-deep {
  select-framework-widget div.list-group-item {
    border: 0;
    padding: 0 0.75rem 0.75rem 0;
  }

  button.close span {
    color: #000 !important;
    text-decoration: none !important;
    opacity: 0.75 !important;
  }
}

:host ::ng-deep {
  select-widget-widget {
    legend {
      display: none;
    }

    [draggable="true"]:hover {
      box-shadow: none;
    }

    input[type="checkbox"] {
      margin-right: 10px;
    }

    section-widget > div > label:first-child {
      font-weight: 500;
      font-size: 1.2rem;
    }
  }
}
