@import '../styles';

// Bootstrap overrides
$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.4rem;
$h4-font-size: 1.25rem;
$h5-font-size: 1.15rem;
$h6-font-size: 1rem; // we don't use h6 anywhere

// global corner-radius value for inputs, labels, buttons and similar UI-Elements 
$basic-border-radius: 18px;

/*** OLD COLOR DEFINITIONS START ***/
// Restore v4-alpha.6 colors
$white:  #fff;
$black:  #000;
$red:    #d9534f;
$orange: #f0ad4e;
$yellow: #ffd500;
$green:  #5cb85c;
$blue:   #0275d8;
$teal:   #5bc0de;
$pink:   #ff5b77;
$purple: #613d7c;
$gray:  gray;

$primary:             $blue;
$success:             $green;
$info:                $teal;
$warning:             $orange;
$danger:              $red;

// reset secondary color to v4-alpha.6 style
$secondary: #fff;

/*** OLD COLOR DEFINITIONS END ***/


/*** NEW COLOR DEFINITIONS START ***/
// transparnecy used to lighten up colors. Needs to be changed as soon as the app background is different from clear white

$primary-color: #3598f5;
$primary-color-light: #3598f5cc;  
$primary-color-ultra-light: #3598f599;  

$secondary-color: #f7c271;
$secondary-color-light: #f7c271cc;
$secondary-color-ultra-light: #f7c27199;

$special-accent-color: #be79fa;
$special-accent-color-light: #be79facc;

$timefilter-datestring-color: lightseagreen;

$gray-0: #444;      
$gray-1: #777;      
$gray-2: #ababab; 
$gray-3: #ccc;      
$gray-4: #ddd;
$gray-5: #eee;
$gray-6: #f5f5f5;

$success-green: #5cb85c;
$attention-red: #f25d5d;
$attention-red-light: #f25d5dcc;

$transparent: #ffffff00;
$white: #ffffff;



/*** NEW COLOR DEFINITIONS END ***/



// make form field focus chrome less intrusive
$input-btn-focus-width: 1px;


// Custom variables that we need available globally
$navbar-height: 56px;
$nav-disabled-color: $gray-400;
$nav-item-size: 15px;

$footer-height: $navbar-height * .75;

$bars-z-index: 900; // ensures it's above content but below dropdowns (=1000)
$table-font-size: 13px;

$sidebar-width: 200px;
$sidebar-border-width: 1px;
$sidebar-border-style: $gray-300 $sidebar-border-width solid;
$sidebar-height-sm-down: 50px;
$toolbar-height: 50px;

$enable-shadows: false;
