
.timefilter-layout-top-row {
    height: 80px;
    border-bottom: 1px solid #dee2e6;
    padding: .2rem 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    z-index: 901;
}

.timefilter-toolbar {
    position: fixed;
    top: 56px;
    left: 200px;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
}
.form-group{
    padding: 0 0.5em 0 0.5em;
}
.input-group label {
    padding: 0 0.5em 0 0.5em;
}
button.calendar, button.calendar:active {
    width: 2.75rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCS…nlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: center;
}