<div class="timefilter-layout-top-row timefilter-toolbar">
  <div class="col-lg-1">
    From
  </div>
  <div class="col-lg-2">
    <input type="text" class="form-control" id="from" name="from" readonly="readonly" *ngIf="fromDateString"
      [ngModel]="fromDateString" placeholder="From" (click)="isCollapsedFrom = !isCollapsedFrom">
    <dl-date-time-picker [(ngModel)]="fromDateView" (change)="setFromDate()" [ngbCollapse]="!isCollapsedFrom">
    </dl-date-time-picker>
  </div>
  <div class="col-lg-1">
    To
  </div>
  <div class="col-lg-2">
    <input type="text" id="to" name="to" class="form-control" readonly="readonly" placeholder="To" *ngIf="toDateString"
      [ngModel]="toDateString" (click)="isCollapsedTo = !isCollapsedTo">
    <dl-date-time-picker [ngbCollapse]="!isCollapsedTo" [(ngModel)]="toDateView" (change)="setToDate()">
    </dl-date-time-picker>
  </div>
</div>