<div class="container" *ngIf="fields$">
    <div id="previewWrapper" *ngIf="scopedAggregation$">
        <sb-chart-preview [aggregation]="scopedAggregation$"></sb-chart-preview>
    </div>
    <div id="aggeWrapper">
        <aggregation-editor [aggregations]="aggregationOnEdit" [fields]="fields$" [type]="type"
            [buttonInput]="buttonInput$" (result)="getResults($event)" (preview)="triggerPreview($event)">
        </aggregation-editor>
    </div>
    <div id="scopeWrapper" *ngIf="aggregation$">
        <sb-scoping [aggregation]="aggregation$" (aggRequObj)="setRequestObject($event)"></sb-scoping>
        <sb-error-console></sb-error-console>
    </div>

</div>
<div class="button-row">
    <button type="button" class="btn btn-danger" (click)="buttonListener('cancel')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="buttonListener('save')">Save</button>
    <button type="button" class="btn btn-primary" (click)="buttonListener('test')">Test</button>
</div>