li {
    list-style: none;
    background-color: #fff;
    background-clip: border-box;
    padding: 1.22rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    width: 104%;
}
ul {
    padding: 0 2em 0 0;
}