<div id="log-search" *ngIf="results">
  <nav aria-label="Pagination">
    <ul class="pagination" *ngIf="hits$">
      <li (click)="loadMore(page-1, false)" [ngClass]="{'page-item': true, 'disabled': page == 0}">
        <a class="page-link" href="javascript:;"> Previous</a>
      </li>
      <li class="page-item disabled" *ngIf="pageInterval[0] != 0"> <a class="page-link" href="javascript:;">[...]</a>
      </li>
      <li *ngFor="let i of pageInterval" (click)="loadMore(i ,i > page)"
        [ngClass]="{'page-item': true, 'active': i == page }"><a class="page-link" href="javascript:;">{{i}}</a></li>
      <li class="page-item disabled" *ngIf="pageInterval[pageInterval.length -1] != pages"> <a class="page-link"
          href="javascript:;">[...]</a></li>
      <li (click)="loadMore(page+1 ,true)" [ngClass]="{'page-item': true, 'disabled': page == pages}">
        <a class="page-link" href="javascript:;">Next</a>
      </li>
    </ul>
  </nav>

  <div class="content-case">
    <div class="resultView" *ngIf="results">
      <div class="resultList">
        <table class="table">
          <tbody>
            <tr (click)="collapse(i)" *ngFor="let result of results.hits; let i = index"
              [class.active]="i == selectedRow" [@flyInOut]="direction">
              <td id="td">
                <code innerHTML="{{result._source.logMessage}}"></code>
                <div [ngbCollapse]="!isCollapsed[i]">
                  <div>
                    <button
                      [ngClass]="{'show-context': !showSingleLogContext, 'hide-context': showSingleLogContext, 'btn btn-secondary': true}"
                      (click)="toggleLogContext(result);$event.stopPropagation();">{{showSingleLogContext? 'hide context': 'show context'}}</button>
                  </div>
                  <div class="clearfix" *ngFor="let entry of getObjectEntries(result._source)">
                    <span class="key">{{entry[0]}}:</span>
                    <span class="value">{{entry[1]}}</span>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="showSingleLogContext" class="single-log-context-box">
      <h6 id="context-header">Log History Context</h6>
      <!--<code id="context-sub-header">{{logContextSeed._source.logMessage}}</code>-->
      <sb-log-context-explorer class="context-explorer" [mainLogMsg]="logContextSeed"> </sb-log-context-explorer>
    </div>
  </div>

</div>