#log-search{
    margin-top: 3em;
    width: 100%;
}
.resultView {
    height: 80vh;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.resultView table {
    display: inline-block;
    width:100%;
    overflow: scroll;
}
#log-search h5 {
    text-align: center;
    margin-bottom: 1em;

}
.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}
.key {
    display: inline-block;

    color: #283018;
    font-style: italic;
    width: 20%;
    float: left;
}
nav {
    margin: auto;
    width: fit-content;
}
.value {
    color: #aa863a;
    width: 70%;
    float: right;
}
.clearfix{
    padding-left: 1em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
code {
    color: #729f98;
}
#log-search tr {
    
}
#log-search tr:nth-child(even) {
    background: #f0eceb;
}    