@import '../../../../core/core';

#log-search{
    margin-top: 3em;
    width: 100%;
}
.resultView {
    display: flex;
    height: 80vh;
    overflow: scroll;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.single-log-context-box{
    width: calc(100% - 30px);
    height: 40vh;
    background-color: rgb(248, 112, 203);
    margin: 5px 15px 15px 15px;
}

.resultList{
    width: fit-content;
}

.resultList table {
    width: 100%;
    overflow: scroll;
}
#log-search h5 {
    text-align: center;
    margin-bottom: 1em;

}
.disabled {
    pointer-events:none; //This makes it not clickable
    opacity:0.6;         //This grays it out to look disabled
}
.key {
    display: inline-block;
    color: #283018;
    font-style: italic;
    text-align: end;
}
nav {
    margin: auto;
    width: fit-content;
}
.value {
    color: #aa863a;
}
.clearfix{
    padding-left: 1em;
    display: grid;
    grid-template-columns: 120px calc(100% - 120px - 1em);
    grid-column-gap: 1em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
tr {
    cursor: pointer;
}
code {
    color: #729f98;
}
#log-search tr {
    
}
#log-search tr:nth-child(even) {
    background: #f0eceb;
}    



.btn.btn-secondary{
    
    border-radius: $basic-border-radius;
    cursor: pointer;
    margin: 15px 15px 15px 15px;
    border: 0px;
    outline: none;
    background-color: $primary-color-light;
    
    &:focus{
        background-color: $primary-color-light;
    }
    &:hover{
        background-color: $primary-color;
    }
    &.hide-context:active{background-color: $primary-color-light;}
    &.show-context:active{background-color: $primary-color-light;}
    
   
}

