#log-search{
    margin-top: 3em;
    width: 100%;
}
.resultView table {
    display: inline-block;
    width:100%;
    overflow: scroll;
}
#log-search h5 {
    text-align: center;
    margin-bottom: 1em;

}
.pagination-left, .pagination-right{
    text-align: center;
    margin-bottom: 1em;
    width: 18%;
    display: inline-block;
}
.pagination-left {
    text-align:left;
}
.pagination-right {
    text-align: right;
    float: right;
}
.pagination-info {
    width: 15%;
    display: inline-block;
    margin: 0 18% 0 18%;
}
.key {
    display: inline-block;

    color: #283018;
    font-style: italic;
    width: 20%;
    float: left;
}
.value {
    color: #aa863a;
    width: 70%;
    float: right;
}
.clearfix{
    padding-left: 1em;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
code {
    color: #729f98;
}
#log-search tr {
    
}
#log-search tr:nth-child(even) {
    background: #f0eceb;
}    