<div class="section-content">
  <h2>Backend Endpoints</h2>
  <p>These are your backup configuration endpoints. You can reuse them to create new backup definitions.
  </p>
  <p><a class="btn btn-secondary" routerLink="/backup/file-endpoints/new" role="button">Create File Endpoint »</a></p>
  <div class="row">
    <div class="col-sm-10">&nbsp;</div>
    <div class="col-sm-2 pageSizeSelector">
      <select class="form-control" id="pageSize" name="pageSize" #pageSize="ngModel" [(ngModel)]="pagination.pageSize" (change)="pageChange()">
        <option *ngFor="let i of pageSizes" [ngValue]="i">
          {{i}}
        </option>
      </select>
    </div>
  </div>
  <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Type</th>
        <th>Container/Bucket</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let destination of destinations; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{ destination.name }}</td>
        <td>{{ destination.type }} <span style="color: grey;">({{destination.endpoint == AWS_S3_ENDPOINT_URL ? 'AWS' : 'Custom'}})</span></td>
        <td>{{ destination.container_name }}{{ destination.bucket }}</td>
        <td><a href="#" routerLink="/backup/file-endpoints/{{destination.id}}">Details</a></td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-end" [(collectionSize)]="pagination.collectionSize" [(page)]="pagination.page"
    [(pageSize)]="pagination.pageSize" [maxSize]="pagination.maxSize" [rotate]="pagination.rotate" 
    [boundaryLinks]="pagination.boundaryLinks" (pageChange)="pageChange($event)"></ngb-pagination>
</div>