@import '../core/core';

.no-overflow{
    overflow: hidden;
}

.bindingsdead-div{
    height: 8em;
    background-color: slategray;
    color: white;
    text-align: center;
    padding: 15px;
}
.btn-secondary.retry{
    margin-top: 1em;
    border-radius: 18px;
    font-size: 0.9em;
    color: lightgrey;
    padding: 2px 12px;
    height: 2.0em;
    border: 0px;
    outline: none;
}
