<router-outlet></router-outlet>
<div *ngIf="panels">
  <div *ngIf="panels?.length">


    <div class="container">
      <div class="row">
        <div class="col-3">
          <label for="from">From:</label>
          <input type="text" id="from" name="from" readonly="readonly" *ngIf="fromDateString" [ngModel]="fromDateString" (click)="isCollapsedFrom = !isCollapsedFrom">
          <dl-date-time-picker [ngbCollapse]="!isCollapsedFrom" [(ngModel)]="fromDateView" (change)="setFromDate()"></dl-date-time-picker>
        </div>
        <div class="col-3">
          <label for="to">To:</label>
          <input type="text" id="to" name="to" readonly="readonly" *ngIf="toDateString" [ngModel]="toDateString" (click)="isCollapsedTo = !isCollapsedTo">
          <dl-date-time-picker [ngbCollapse]="!isCollapsedTo" [(ngModel)]="toDateView  " (change)="setToDate()"></dl-date-time-picker>
        </div>
        <div class="col-3">
          <div class="input-group mb-2 mr-sm-2">
            <label for="step">Step:</label>
            <input type="text" id="step" name="step" [(ngModel)]="step" (change)="setDateRange()">
            <select class="custom-select mr-sm-2" [(ngModel)]="stepUnit" id="inlineFormCustomSelect" (change)="setDateRange()">
              <option selected *ngFor="let unit of stepUnits">{{unit}}</option>
            </select>
          </div>
        </div>
        <button type="button" *ngIf="changed" (click)="saveChanges()" class="btn btn-info btn-sm">save changes</button>
        <button type="button" (click)="edit()" class="btn btn-info btn-sm">edit</button>
      </div>
    </div>



    <div *ngIf="panel && panel.chartView">
      <div class="container">
        <div class="row" *ngFor="let chartRequests of panel.chartView">
          <div class="col-{{chartRequest.size}}" *ngFor="let chartRequest of chartRequests" draggable [dragData]="chartRequest" droppable
            (onDrop)="onDrop($event, chartRequest)">
            <div *ngIf="chartRequest.onEdit">
              <sb-prom-query-editor *ngIf="!chartRequest.isEs" [chartRequest]="chartRequest" [choosenChart]="chartRequest.choosenChart"
                (success)="saveChartQuery($event, chartRequest)" (cancel)="cancelEdit(chartRequest)"></sb-prom-query-editor>
              <sb-es-query-editor *ngIf="chartRequest.isEs" [chartRequest]="chartRequest" [choosenChart]="chartRequest.choosenChart"
              (success)="saveChartQuery($event, chartRequest)" (cancel)="cancelEdit(chartRequest)"> </sb-es-query-editor>
            </div>
            <sb-chart *ngIf="chartRequest.chartId && !chartRequest['onEdit']" [requObj]="chartRequest" (editChart)="editChart($event ,chartRequest)"
              [chartId]="chartRequest.chartId" [options]="true"></sb-chart>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!panels?.length">
    <sb-panel-editor></sb-panel-editor>
  </div>
</div>

<div *ngIf="!panels">Bitte warten...</div>