<div  class="column-definition">
   
      <div id="definition-div">
         <h6 id="col-def-header">Create Columns by selecting Data Fields:</h6>

         <mat-tree [dataSource] = "dataSource" [treeControl] = "treeControl">
            <mat-tree-node *matTreeNodeDef = "let node" (click)="select_leaf(node)" id="tree_leaf" matTreeNodeToggle matTreeNodePadding>
               <span [ngClass]="{'tree-leave-label': !node.selected, 'tree-leave-label-selected': node.selected}" id="tree-leave-label"> {{node.filename}} </span>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef = "let node;when: hasChild" (click)="select_node(node)" id="tree_node" matTreeNodePadding>
               <button mat-icon-button matTreeNodeToggle id="tree-node-button" [attr.aria-label] = "'toggle ' + node.filename">
                  <mat-icon class = "mat-icon-rtl-mirror expand-button">{{treeControl.isExpanded(node) ? '-' : '+'}}</mat-icon>
               </button>
               {{node.filename}}
            </mat-tree-node>
         </mat-tree>
      </div>

      <div *ngIf="show_column_preview" id="preview-div">
         <div id="preview-col"> 
            <input type="text" class="form-control cdef-name" [(ngModel)]="cdef_name" (focus)="onGotFocusNameInput()" (blur)="onLostFocusNameInput()" placeholder="column name">
            <table>
               <tr *ngFor="let row of preview_column_data;">
               <td class="field">
                  {{row}}
               </td>
               </tr>
            </table>
            <p></p>
            <button id="save_column_button" (click)="saveColumn()">add column</button>
         </div>
      </div>
      
</div>
