<div *ngIf="catalogues">
<p>To build your own Chart, choose a Base Queriefrom the list below.
   To see more information and to choose the querie as yours click on it's name</p>
  <div *ngIf="catalogues.logCharts">
    <h3>Charts prepared for Logs</h3>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let logChart of catalogues.logCharts; let i = index">
      <ngb-panel *ngIf="logChart.name" title="logChart.name">
        <ng-template ngbPanelContent>
          <h5>Description</h5>
          {{logChart.description}}
          <h5>Aggregtaion:</h5>
          <pre>{{logChart.aggregations | json }}</pre>

          <p class="centered">
              <a class="btn btn-primary btn-lg" href="#" role="button">Choose as Base</a>
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel *ngIf="!logChart.name" title="Chart {{i}}">
        <ng-template ngbPanelContent>
          <h5>Description</h5>
          {{logChart.description}}
          <h5>Aggregtaion:</h5>
          <pre>{{logChart.aggregations | json }}</pre>

          <p class="centered">
              <a class="btn btn-primary btn-lg" href="#" role="button">Choose as Base</a>
          </p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
  <div *ngIf="catalogues.metricCharts">
    <h3>Charts prepared for Metrics</h3>
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" *ngFor="let metricChart of catalogues.metricCharts; let i = index">
      <ngb-panel *ngIf="metricChart.name" title="metricChart.name">
        <ng-template ngbPanelContent>
          <h5>Description</h5>
          {{metricChart.description}}
          <h5>Aggregtaion:</h5>
          <pre>{{metricChart.prometheusQueries | json }}</pre>

          <p class="centered">
              <a class="btn btn-primary btn-lg" href="#" role="button">Choose as Base</a>
          </p>
        </ng-template>
      </ngb-panel>
      <ngb-panel *ngIf="!metricChart.name" title="Chart {{i}}">
        <ng-template ngbPanelContent>
          <h5>Description</h5>
          {{metricChart.description}}
          <h5>Aggregtaion:</h5>
          <pre>{{metricChart.prometheusQueries | json }}</pre>

          <p class="centered">
              <a class="btn btn-primary btn-lg" href="#" role="button">Choose as Base</a>
          </p>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>