<div class="input-group">
  <div class="input-group-prepend">
      <span *ngFor="let filter of filters" (click)="delete(filter)" class="btn btn-danger">{{filter[0]}}:{{filter[1]}}</span>
  </div>
  <label for="form-">Add Filter</label>
  <input type="text" name="filter" class="form-control" aria-label="Amount (to the nearest dollar)">
  <div class="input-group-append">
    <span class="btn btn-outline-secondary" (click)="addFilter(addModal)">Add Filter</span>
  </div>
</div>


<ng-template #addModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add your Filter</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="topic">Select Topic</label>
    <select class="form-control" [(ngModel)]="topic" id="topic">
      <option *ngFor="let aTopic of topics">{{aTopic}}</option>
    </select>
    <label for="value">Select Topic</label>
    <input [(ngModel)]="value" type="text" id="value" name="value" required>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn " (click)="save()">Save</button>
    <button type="button" class="btn btn-danger" (click)="cancel()">Cancel</button>
  </div>
</ng-template>