div.sb-container {
    padding: 1.5em;
    display: grid;
    grid-template-areas:
    'textfields textfields textfields textfields textfields textfields'
    'main main main right right right'
    'buttons buttons buttons buttons buttons buttons-right';
  grid-gap: 10px;
}
.sb-right {
    grid-area: right;
    //padding: 2em 0 0 1.37em;
    padding: 2em 0 0 0;
}
.sb-main {
    grid-area: main;
    padding-top: 2em;
}
.sb-buttons {
    grid-area: buttons;
}
.sb-button-right {
    grid-area: buttons-right;
}
.sb-textfields {
    grid-area: textfields;
}
.btn-danger {
    margin: 0 1em 0 0;
}