@import '../../../../core/core';

h2{
    color: $gray-0;
    margin-bottom: 1em;
}
label{
    color: $gray-1;
    margin: 0.2em;
}
.form-control{
    border-radius: $basic-border-radius;
}

div.sb-container {
    padding: 1.5em;
    margin-top: 0px;
    padding-top: 73px;
    display: grid;
    grid-template-areas:
    'textfields textfields textfields textfields textfields textfields'
    'main main main right right right'
    'buttons buttons buttons buttons buttons buttons-right';
    grid-gap: 10px;
    row-gap: 20px;
}
.sb-right {
    grid-area: right;
    padding: 2em 0 0 0;
}
.sb-main {
    grid-area: main;
    padding-top: 2em;
}
.sb-buttons {
    grid-area: buttons;
}
.sb-button-right {
    grid-area: buttons-right;
}
.sb-textfields {
    grid-area: textfields;
}
.btn-danger {
    margin: 0 1em 0 0;
    border-radius: $basic-border-radius;
    width: 85px;
    border: 0px;
}
.btn-primary {
    border-radius: $basic-border-radius;
    width: 85px;
    border: 0px;
}

.btn-primary:disabled{
    border-radius: $basic-border-radius;
    background-color: $gray-3;
    width: 85px;
    border: 0px;
}

.infohint{
    margin-top: 1em;
    label{
        font-size: 1em;
        color: $gray-1;
    }
}