/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';

@import '../node_modules/font-awesome/css/font-awesome.css';

a {
  cursor: pointer;
}

a.disabled {
  pointer-events: none;
  cursor: default;
  color: $body-color;
}

/** Main Layout **/
.main-outlet {
  /* This is necessary, see http://getbootstrap.com/components/#navbar-fixed-top */
  padding-top: 56px;
}

.fullscreen-layout {
  padding: 1rem;
}

.page-padding {
  @include media-breakpoint-up(md) {
    padding: 2rem;
  }
  @include media-breakpoint-up(lg) {
    padding: 3rem;
  }
}

.feature-description {
  color: $text-muted;
  font-size: $small-font-size;
}

// fixup dropdown buttons
button.dropdown-item {
  cursor: pointer;
}

/** Forms **/

legend {
  font-size: 18px;
}

.form-group-help {
  @extend .text-muted;
  display: block;
  margin-bottom: .5rem;
}

.form-control.ng-valid.required:not(.ng-pristine),
.form-control.ng-valid[required]:not(.ng-pristine) {
  border-left: 5px solid #42A948;
}

.form-control.ng-invalid {
  border-left: 5px solid #a94442;
}

.form-modal {
  max-width: 600px;
  padding: 1rem;
  margin: 2rem auto;
  @include media-breakpoint-down(xs) {
    margin: 1rem auto;
  }
}