

<div id="collapsed-base-input">
  <span id="get-more-data" *ngIf="baseInputCollapsed" (click)="decollapse_base_query_input()"> get more data <!--<i class="fas fa-plus"></i> --> </span> 
</div>

<h6 id="base-query-header" *ngIf="!baseInputCollapsed">Get Data from Elastic Search:</h6>

<div class="frame" *ngIf="!baseInputCollapsed">
  <button *ngIf="true" (click)="showQueryEditor()" class="btn btn-primary create-query">create</button>
  <sb-query-select #queryDropdownSelect [selected]="selected_query_name" (query)="did_select_query($event)"></sb-query-select>
  <sb-appid #appNameDropdownSelect class="appId" [selected]="XXX" (app)="did_select_scope($event)"></sb-appid>
  <span id="query-with-binding-test-result" *ngIf="!validating" title="{{query_result_hint}}"><i [ngClass]="{'fas fa-exclamation-circle fail': !valid ,'fas fa-exclamation-circle soft' : valid && hit_count == 0, 'far fa-check-circle': (valid && (hit_count > 0)) }"></i></span> <!-- , 'far fa-question-circle': true -->
  <button id="select_bq_data_button" *ngIf="!validating && (valid && (hit_count > 0))" (click)="select_query_result()">select</button>
</div>

<div id="base-data-list" *ngIf="selected_query_descriptions.length > 0">
  <p id="base-data-list-header">selected data: </p>
  <span *ngFor="let descr of selected_query_descriptions;" (click)="drop_base_data_brick(descr)"
  id="base-data-brick" class="btn btn-secondary">{{descr}}</span>
</div>
