@import '../../../../core/core';


.frame{
    background-color: #fff;
    width: fit-content;
    display: grid;
    grid-template-columns: 85px 250px 250px 30px;
    column-gap: 5px;
}

#base-input{
    border-radius: $basic-border-radius;
    border: 3px solid $gray-4;
}

.appId{
    //width: calc(100% - 11.6em);
    justify-self: stretch;
    align-self: start;
    cursor: pointer;
    
}

.btn.btn-primary.create-query{

    border-radius: 18px;
    margin-left: 10px;
    border: none;
    background-color: #ccc;
    width: fit-content;

}

.btn.btn-primary.create-query:hover{

    background-color: #c091f3;
}

#query-with-binding-test-result{

    align-self: center;
    text-align: center;

}

.fa-exclamation-circle{
    color:rgb(254, 127, 105);
}

.fa-check-circle{
    color: rgb(109, 196, 102);
}