
.container {
    padding: 0;
}
.grid-container {
    cursor: pointer;
    grid-template-rows: 1fr 1fr 2fr;
    grid-template-areas:
        'name'
        'type'
        'img';
}

.top-row{
    grid-area: name;
    display: grid;
    grid-template-columns: 9fr 1fr;
}

:host { display: block; }   
.img-container {
    grid-area: img;
    img {
        width: 100%;
    }
}
button {
    height: fit-content;
    width: fit-content;
    margin: 1px;
    padding: 1px;
    border: 0px;
    color: #aaaaaa;

    &:focus{
        outline: none;
        border: 0px;
    }
}
h6 {
    grid-area: type;
}

.btn{   // modal cancel & ok button when dleting charts
    padding: 2px 6px;
    border-radius: 8px;
    
}
.btn.btn-danger{ // modal OK button when deleting charts
    color: white;
}