.grid-container {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: 'img'
    'name'
    'type'
    ;
}

.img-container {
    grid-area: img;
    img {
        width: 100%;
    }
}
h5 {
    grid-area: name;
}
h6 {
    grid-area: type;
}
