.loader {
  border: 2px solid #666666;
  border-radius: 100% !important;
  border-left-color: transparent; // this creates the effect of a 3/4 closed circle
  animation: loader-rotate .75s 0s linear infinite;
  animation-fill-mode: both;
  $normal-size: 2rem;
  height: $normal-size;
  width: $normal-size;
}

.loader-small {
  $small-size: 1rem;
  height: $small-size;
  width: $small-size;
}

$inline-size: 1.25rem;

.loader-inline {
  box-sizing: border-box;
  height: $inline-size;
  width: $inline-size;
  display: inline-block;
  vertical-align: middle;
}

.btn .loader-inline {
  // required to properly align loader with the baseline
  margin: (1.0rem-$inline-size) .5rem 0 0;
}

.btn-sm .loader-inline {
  // required to properly align loader with the baseline
  $inline-size: 1.0rem;
  margin: (1.0rem-$inline-size) .5rem 0 0;
  height: $inline-size;
  width: $inline-size;
}

.loader-white {
  border-color: #ffffff;
  border-left-color: transparent;
}