@import '../common';

$nav-text-color: $gray;
$nav-text-color-light: $gray;

.sidebar-nav {
  list-style: none;
}

.sidebar-nav-title {
  left: 0;
  width: $sidebar-width;
  border-right: $sidebar-border-style;

  .navbar-toggler {
    width: 2em;
    height: 1.5em;
    align-self: center; // override default toggler style
    color: $nav-text-color-light;
    padding: 0;
  }
}

.sidebar-nav-content {
  margin-top: $toolbar-height;
  padding: 1rem 1rem 0;
}

.sidebar-nav-sections {
  padding: 0;

  > li {
    display: block;
  }
}

.sidebar-nav-section-header {
  cursor: pointer;
  display: flex;

  .fa {
    font-size: 14px;
    color: $nav-text-color-light;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
  }
}

.sidebar-nav-link {
  cursor: pointer;

  .icon {
    min-width: 24px;
    display: inline-block;
  }
}

.sidebar-nav-items-stack {
  padding: 0;

  > li {
    display: block;

    > a {
      color: $nav-text-color;
      display: block;
      padding: .5rem;
      font-size: $nav-item-size;
    }

    > a.disabled {
      color: $nav-disabled-color;
      pointer-events: none;
      cursor: default;
    }

     > a:focus,
    > a:hover {
      text-decoration: none;
      background-color: #eee;
    }
  }

  > li .active {
    background-color: #eee;
    color: #000;
  }
}

.support-section {
  border-top: $sidebar-border-style;
  padding-top: .5rem;
  cursor: default;
}
