<nav class="sidebar-nav navbar-light">
  <div class="sidebar-layout-top-row sidebar-nav-title">
    <button class="navbar-toggler d-md-none mr-2" (click)="toggleCollapsed()">
      <i class="fa fa-bars"></i>
    </button>
    <h2 class="text-ellipsis">{{title}}</h2>
  </div>
  <div class="sidebar-nav-content" [ngbCollapse]="isCollapsed">
    <ul class="sidebar-nav-sections">
      <li class="sidebar-nav-section" *ngFor="let section of menu; let isLast=last">
        <div class="sidebar-nav-section-header" (click)="toggleSectionCollapsed(section)">
          <h3 class="mr-auto pr-2" [class.text-muted]="section.isDisabled">{{section.name}}</h3>
          <span> <i *ngIf="section.isCollapsible" class="fa fa-chevron-down"></i></span>
        </div>
        <ul class="sidebar-nav-items-stack mb-2" [ngbCollapse]="section.isCollapsed">
          <li *ngFor="let link of section.links" [ngClass]="link.class">
            <a *ngIf="link.href" [class.disabled]="section.isDisabled" class="sidebar-nav-link" routerLinkActive="active" [routerLink]="link.href"
              (click)="onNavigate(link)"><i class="icon {{link.iconClass}}"></i> {{link.name}}</a>
            <a *ngIf="link.onClicked" [class.disabled]="section.isDisabled" class="sidebar-nav-link" (click)="onNavigate(link)"><i class="icon {{link.iconClass}}"></i> {{link.name}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
