<div>
  <ul>
    <li class="category"
      *ngFor="let optionDomain of optionDomains; let i = index"
      (click)="showActions(i)"
    >
      <i class="{{optionDomain.iconClass}} fa-lg"></i> {{ optionDomain.name }}
      <ul class="dropup" *ngIf="optionDomain.actions && visibleActions === i">
        <li
          class="dropup-content"
          *ngFor="let action of optionDomain.actions"
          (click)="dispatchActions(action)"
        >
          <i class="{{action.iconClass}} fa-lg"></i> {{ action.name }}
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="input-group">
  <button type="button"(click)="saveOptions()" class="btn btn-info">Next</button>
</div>