<div>
  <div class="form-group" *ngFor="let optionDomain of optionDomains; let i = index">
    <ng-container *ngFor="let action of optionDomain.actions">
      <ng-container *ngIf="action.type.type ==='text'">
        <label>{{action.name}}</label>
        <input class="form-control" type="text" name="{{action.name}}" (ngModelChange)="dispatchActions(action, $event)">
      </ng-container>
      <ng-container *ngIf="action.type.type ==='select'">
        <label for="chartTypeSelect">{{action.name}}</label>
        <select id="chartTypeSelect" class="form-control" (ngModelChange)="dispatchActions($event)" [ngModel]="chartType">
          <option>---Please Select---</option>
          <option [ngValue]="subaction" *ngFor="let subaction of action.options">{{subaction.name}}</option>
        </select>
      </ng-container>
    </ng-container>
  </div>
</div>