<div class="card-columns" style="padding: 80px 20px 20px 20px;">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Service Instance</h5>
      <p class="card-text">
        The following table contains all information regarding your Service Instance. If you create Support Tickets,
        please provide the following Information:
        * Service Id
        * Service Platform
      </p>
      <table class="table" *ngIf="generalInfo !== undefined">
        <tbody>
          <tr>
            <th>Service ID</th>
            <td>{{generalInfo.service_instance_id}}</td>
          </tr>
          <tr>
            <th>Service Description</th>
            <td>{{generalInfo.service}}</td>
          </tr>
          <tr>
            <th>Free</th>
            <td>{{(generalInfo.free) ? "Yes" : "No"}}</td>
          </tr>
          <tr>
            <th>Service Platform</th>
            <td>{{generalInfo.platform}}</td>
          </tr>
        </tbody>
      </table>
      <a href="https://support.evoila.de" class="btn btn-primary">Support</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Documentation</h5>
      <p class="card-text">
        Each Service Broker has some specific functionality you can use. We try our very best to keep the Documentation
        up to date.
      </p>
      <a href="https://docs.evoila.de" target="_blank" class="btn btn-primary">Documentation</a>
      <p class="card-text" style="margin-top: 15px">
        If you have any questions, please don't hestitate to contact us directly via Support.
      </p>
      <a href="https://support.evoila.de" target="_blank" class="btn btn-primary">Support</a>
    </div>
  </div>
  <div class="card" *ngIf="sharedModuleSupport.backup">
    <div class="card-body">
      <h5 class="card-title">Backup</h5>
      <p class="card-text">Based on the OSB Backup Manager Framework this Service Broker offers the ability to
        create a fully feature Backup schedule for your Service Instance. Currently we support the following features:
      </p>
      <ul>
        <li>File Endpoints</li>
        <li>Backup Plans</li>
        <li>Restore Points</li>
        <li>Backup Jobs</li>
        <li>Restore Jobs</li>
      </ul>
      <a routerLink="/backup" class="btn btn-primary">Configure Backup</a>
    </div>
  </div>
  <div class="card" *ngIf="sharedModuleSupport.management">
    <div class="card-body">
      <h5 class="card-title">Management</h5>
      <p class="card-text">The Management section offers functionality which enables extended functionality. In case
        of database based Service Brokers like PostgreSQL, MySQL or MongoDB it contains functionality to create new
        database for Dedicated Service Instances.
      </p>
      <a routerLink="/manage" class="btn btn-primary">Manage your Instance</a>
    </div>
  </div>
  <div class="card" *ngIf="sharedModuleSupport.serviceKeys">
    <div class="card-body">
      <h5 class="card-title">Service Keys</h5>
      <p class="card-text">Service Keys allow you to access your Service Instance over a persistent IP and Port from
        the outside. We strongly recommend to NOT use this feature, because it a large security risk.

        <small>(IMPORTANT: This functionality is only useable in Cloud Foundry Environments.)</small>
      </p>
      <a routerLink="/manage" class="btn btn-primary">Manage your Instance</a>
    </div>
  </div>
</div>
<!--
<footer class="footer">
  <div class="footer-text">
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://github.com/evoila">GitHub</a></li>
      <li class="list-inline-item"><a href="https://twitter.com/evoila_cloud">Twitter</a></li>
    </ul>
    <p>2019 - Designed and built with all the love in the world by <a href="https://twitter.com/evoila_cloud" target="_blank"
        rel="noopener">evoila engineers</a>, evoila GmbH.</p>
  </div>
</footer>
-->