


<div *ngIf="!rendering" id="table">

  <div class="table-header">
    <h6 *ngIf="!is_editor_mode"> {{tableName}} </h6>
    <input *ngIf="is_editor_mode" type="text" class="form-control table-name" value="{{tableName}}" [(ngModel)]="table.title" placeholder="insert table name">
  
  </div>

  <table>
    <thead>
      <tr>
        <td class="row-index" style="opacity: 0.0;"></td>
        <th class="header-field" *ngFor="let col_name of table_header;">
          {{col_name}}
        </th>
     </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of table_content; let i = index"
        [ngClass]="{ odd: true, even: false }">
        <td class="row-index">{{i+1}}</td>
        <td class="field" *ngFor="let field of row">
          {{field}}
        </td>
     </tr>
     <tr *ngIf="is_editor_mode">
        <td class="row-index" style="opacity: 0.0;"></td>
        <td class="action-field" *ngFor="let colname of table_header; let i = index">
          <button id="column-shift-button" (click)="shift_column(i, -1)">
            <i class="fas fa-chevron-left"></i>
          </button>
          <button id="column-delete-button" (click)="delete_column(colname)">
            <i class="fas fa-minus-circle"></i>
          </button>
          <button id="column-shift-button" (click)="shift_column(i, 1)">
            <i class="fas fa-chevron-right"></i>
          </button>
        </td>
     </tr>
    </tbody>   
  </table>  
  <div id="paginat">
    <button id="pagin-button">
      <i class="fas fa-chevron-left"></i>
    </button>
    <button id="pagin-button">
      <i class="fas fa-chevron-right"></i>
    </button>
  </div>

</div>
